<% provide(:title, 'Add Data Query') %>
<h1>Add a Data Query</h1>

<div class="row">
	<div class="span6 offset3">
		<div style="width:300px;margin:auto;">
			<%= form_for :data_query, url: data_queries_path do |f| %>
				<p>Subject ID:</p>
				<%= f.number_field :subject_id %>
				<p>Data Manager:</p>
				<%= f.text_field :data_manager %>
				<p>CRF, Measure, and item number:</p>
				<%= f.text_field :crf_measure_number %>
				<p>Query notes:</p>
				<%= f.text_field :query_notes %>
				<p>Investigator:</p>
				<%= f.text_field :investigator_name %>
				<p>Resolution notes:</p>
				<%= f.text_field :resolution_notes %>
				
				<%= f.submit "Create Data Query", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
</div>