<div class="hero-unit">
	<h1>VetPALS EDC</h1>
	<h2>VetPALS Electronic Data Capture web platform</h2>

	<div id="homepage_body">
		<div id="homepage_text">
			<h3 class="center"><b>Welcome</b></h3>
			<% if signed_in? %>
				<p><strong>For a new screened participant:</strong></p>
				<ol>
					<li>Click on <i><%= link_to "Enter New Participant", newsubject_path %></i></li>
					<li>Follow the prompts to select Study Site and enter a screening number.</li>
				</ol>

				<p><strong>If you've already entered screening information, you can:</strong></p>
				<ol>
					<li>View the <%= link_to "screening log", screening_log_path %></li>
					<li>View the <%= link_to "participant log", subjects_path %></li>
					<li>Change incorrectly entered information by contacting <a href="mailto:ian@specri.com">Ian Ellis</a> </li>
					<li>Finally, you can view, edit, and update the follow-up log (In progress)</li>
				</ol>
			<% else %>
				<p>
					Please sign in to continue,
					or make a new account. New account will have to be verified by an admin before they
					become active.
				</p>
				<p>
					If you have any question about this site, or ideas to improve upon the site, 
					email me at <a href="mailto:ian@specri.com">Ian Ellis</a>.
				</p>
				<p>This site is under development, with new features being added daily.</p>
			<% end %>
		</div>
		<div id="homepage_links">
			<h3 class="center" id="homepage_titles"><b>Links</b></h3>
			<% if signed_in? %>
				<ul><li><%= link_to "Enter Participant", newsubject_path %></li></ul>
				<ul><li><%= link_to "View Screening Log", screening_log_path %></li></ul>
				<ul><li><%= link_to "View Participants", subjects_path %></li></ul>

			<% else %>
				<ul>
					<li><%= link_to "Create new account", signup_path, class: "btn" %></li>
					<li><%= link_to "Log in", signin_path, class: "btn" %></li>
				</ul>
			<% end %>
		</div>
		<div id="homepage_news">
			<h3 class="center" id="homepage_titles"><b>News</b></h3>
			<ul type="circle">
				<li>April 28th, 2014</li>
				<ul>
					<li><i>Screening log updated</i></li>
				</ul>
				<li>April 25th, 2014</li>
					<ul>
						<li><i>Created home page</i></li>
						<li><i>Fixing baseline edit link</i></li>
						<li><i>Adding screening ID</i></li>
					</ul>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>


<!-- <%= link_to image_tag("rails.png", alt: "Spectrum Research"), 'http://specri.com' %> -->
