<div class="row">
	<div class="span6 offset3">
		<h1>1 Year Follow Up</h1>
		<h2>Subject ID: <%= @followup1year.subject_id %></h2>
		<!-- http://railscasts.com/episodes/217-multistep-forms -->
		<%= form_for @followup1year do |f| %>
			<ol>
				<li>Study Assessment (time since Baseline): 3 weeks</li>
				<li>Has there been a revision at the same level (e.g. TT to higher TT)?
					<%= select(:followup1year, :fu1year_fuq_2, [["",nil],["Yes",1],["No",0]],{}, :style => "width:auto") %>
					<ol type="a">
						<li>If YES, mark time since original amputation surgery: <%= f.number_field :fu1year_fuq_2a, :style => "width:auto" %> <i>(days)</i></li>
					</ol>
				</li>
				<li>Has there been a revision to a higher level (e.g. TM to TT or TT to TF)?
					<%= select(:followup1year, :fu1year_fuq_3, [["",nil],["Yes",1],["No",0]],{}, :style => "width:auto") %>
					<ol type="a">
						<li>If YES, mark time since original amputation surgery: <%= f.number_field :fu1year_fuq_3a, :style => "width:auto" %> <i>(days)</i></li>
					</ol>
				</li>
				<li>Has there been a contralateral limb amputation? <%= select(:followup1year, :fu1year_fuq_4, [["",nil],["Yes",1],["No",0]],{}, :style => "width:auto") %>
					<p><i>If YES, mark contralateral level and type</i></p>
					<ol type="a">
						<li>Level: <%= select(:followup1year, :fu1year_fuq_4a_level, [["",nil],["TM",1],["Midfoot",2],["Symes",3],["TT",4],["Knee",5],["TF",6]],{}, :style => "width:auto")%></li>
						<li>Type: <%= select(:followup1year, :fu1year_fuq_4a_type,[["",nil],["Initial",1],["Revision",2]],{}, :style => "width:auto")%></li>
						<li>Mark time since original amputation surgery <%= f.number_field :fu1year_fuq_4b, :style => "width:auto" %> <i>(days)</i> </li>
					</ol>
				</li>
				<li>Was the patient admitted to the hospital? <%= select(:followup1year, :fu1year_fuq_5,[["",nil],["Yes",1],["No",0]],{}, :style => "width:auto")%>
					<ol type="a">
						<li>If yes, reason for admission: <%= f.text_field :fu1year_fuq_5a, :style => "width:auto" %></li>
					</ol>
				</li>
				<li>Has the patient passed away? <%= select(:followup1year, :fu1year_fuq_6,[["",nil],["Yes",1],["No",0]],{}, :style => "width:auto")%>
					<ol type="a">
						<li>If YES, mark time since original amputation surgery: <%= f.number_field :fu1year_fuq_6a, :style => "width:auto" %></li>
					</ol>
				</li>
				<li>Notes: <%= f.text_field :fu1year_fuq_7, :style => "width:auto" %></li>
			</ol>

			<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>