<div>
	<h2>Complications</h2>
		<ol>
			<li>Study Assessment (time since Baseline): 6 Weeks</li>
			<li>Has there been a revision at the same level (e.g. TT to higher TT)?
				<%= select(:tc, :tc_fuq_2, [["",nil],["Yes",1],["No",0]],{}, :style => "width:auto") %>
				<div id="tc_revision">
					<ol type="a">
						<li>If YES, mark time since original amputation surgery: <%= f.number_field :tc_fuq_2a, :style => "width:auto" %> <i>(days)</i></li>
					</ol>
				</div>
			</li>
			<li>Has there been a revision to a higher level (e.g. TM to TT or TT to TF)?
				<%= select(:tc, :tc_fuq_3, [["",nil],["Yes",1],["No",0]],{}, :style => "width:auto") %>
				<div id="tc_revision_higher">
					<ol type="a">
						<li>If YES, mark time since original amputation surgery: <%= f.number_field :tc_fuq_3a, :style => "width:auto" %> <i>(days)</i></li>
					</ol>
				</div>
			</li>
			<li>Has there been a contralateral limb amputation? <%= select(:tc, :tc_fuq_4, [["",nil],["Yes",1],["No",0]],{}, :style => "width:auto") %>
				<div id="tc_contra">
				<p><i>If YES, mark contralateral level and type</i></p>
					<ol type="a">
						<li>Level: <%= select(:tc, :tc_fuq_4a_level, [["",nil],["TM",1],["Midfoot",2],["Symes",3],["TT",4],["Knee",5],["TF",6]],{}, :style => "width:auto")%></li>
						<li>Type: <%= select(:tc, :tc_fuq_4a_type,[["",nil],["Initial",1],["Revision",2]],{}, :style => "width:auto")%></li>
						<li>Mark time since original amputation surgery <%= f.number_field :tc_fuq_4b, :style => "width:auto" %> <i>(days)</i> </li>
					</ol>
				</div>
			</li>
			<li>Was the patient admitted to the hospital? <%= select(:tc, :tc_fuq_5,[["",nil],["Yes",1],["No",0]],{}, :style => "width:auto")%>
				<div id="tc_hospital">
					<ol type="a">
						<li>If yes, reason for admission: <%= f.text_field :tc_fuq_5a, :style => "width:auto" %></li>
					</ol>
				</div>
			</li>
			<li>Has the patient passed away? <%= select(:tc, :tc_fuq_6,[["",nil],["Yes",1],["No",0]],{}, :style => "width:auto")%>
				<div id="tc_passed">
					<ol type="a">
						<li>If YES, mark time since original amputation surgery: <%= f.number_field :tc_fuq_6a, :style => "width:auto" %></li>
					</ol>
				</div>
			</li>
			<li>Notes: <%= f.text_field :tc_fuq_7, :style => "width:auto" %></li>
		</ol>
</div>

