<h2>MSES Self-Efficacy</h2>
	<p><i>For the following questions, please tell me how certain are you that you can now perform the stated task using a scale of 0 to 10 where 0 means you are very uncertain, 5 means you are neither certain nor uncertain you can do the task, and 10 means you are very certain.</i></p>
	<table>
		<tr>
			<th>Question</th>
			<th>Response</th>
		</tr>
		<tr>
			<td>1. On a scale of 0 to 10, how certain are you that you can deal with problems that come up with family and friends?</td>
			<td><%= select(:tc, :tc_mses_1,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>2. On a scale of 0 to 10, how certain are you that you can maintain a positive mood or keep yourself feeling good?</td>
			<td><%= select(:tc, :tc_mses_2,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>3. On a scale of 0 to 10, how certain are you that you can do something to help yourself feel better if you are feeling blue?</td>
			<td><%= select(:tc, :tc_mses_3,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>4. On a scale of 0 to 10, how certain are you that you can manage pain during your daily activities?</td>
			<td><%= select(:tc, :tc_mses_4,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>5. On a scale of 0 to 10, how certain are you that you can manage problems related to the amputation so that you can do things you enjoy doing?</td>
			<td><%= select(:tc, :tc_mses_5,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>6. On a scale of 0 to 10, how certain are you that you can deal with the frustration related to your limb loss?</td>
			<td><%= select(:tc, :tc_mses_6,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>7. On a scale of 0 to 10, how certain are you that you can work with your prosthetist to manage your prosthetic needs?</td>
			<td><%= select(:tc, :tc_mses_7,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>8. On a scale of 0 to 10, how certain are you that you can solve problems related to your limb loss?</td>
			<td><%= select(:tc, :tc_mses_8,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
		<tr>
			<td>9. On a scale of 0 to 10, how certain are you that you can access community resources that you need?</td>
			<td><%= select(:tc, :tc_mses_9,
			[["",nil],
			["0",0],
			["1",1],
			["2",2],
			["3",3],
			["4",4],
			["5",5],
			["6",6],
			["7",7],
			["8",8],
			["9",9],
			["10",10],
			["Refused",11],
			["Don't know",12]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></td>
		</tr>
	</table>