<h2>Prosthesis Use</h2>
	<p><i>Now I would like to ask you some questions about prosthesis use.</i></p>
	<ol>
		<li>Do you currently have an artificial limb or prosthesis, even if it is not used regularly?</li>
		<%= select(:tc, :tc_pu_1, [["",nil],["1 - Yes",1],["0 - No",0],["Refused", 1000]],{}, :style => "width:70px", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
		<li>Indicate amputation side: <%= select(:tc, :tc_amp_side, [["",nil],["Left",1],["Right",2],["Bilateral",3]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %></li>
		<div id="tc_prosthesis">
			<li>During the past week, on average how many hours during a typical day did you wear the prosthesis?</li>
			<%= number_field(:tc, :tc_pu_2, :style => "width:70px") %>
			<li>In the past week, on average, how many days a week did you wear the prosthesis?</li>
			<%= number_field(:tc, :tc_pu_3, :style => "width:70px") %>
		</div>
		<div id="tc_prosthesis_bilateral">
			<p>Please answer the following questions in relation to your <b>LEFT</b> side.</p>
			<li>During the past week, on average how many hours during a typical day did you wear the prosthesis?</li>
			<%= number_field(:tc, :tc_pu_2_bilateral_left, :style => "width:70px") %>
			<li>In the past week, on average, how many days a week did you wear the prosthesis?</li>
			<%= number_field(:tc, :tc_pu_3_bilateral_left, :style => "width:70px") %>
		</div>
		<li>How often in the past week have you used a wheelchair? Would you say:</li>
		<%= select(:tc, :tc_pu_4,
		[["",nil],
		["1 - All of the time",1],
		["2 - Most of the time",2],
		["3 - Some of the time",3],
		["4 - None of the time",4],
		["5 - Dont know",6],["Refused", 1000]],{}, :style => "width:200px", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
	</ol>
