<% provide(:title, 'Treatment Completion') %>

<div class="row">
	<div class="span6 offset3">
		<h1>Treatment Completion</h1>
		<h2>Subject ID: <%= @tc.subject_id %></h2>
		<!-- http://railscasts.com/episodes/217-multistep-forms -->
			
			<%= form_for @tc do |f| %>
			<div style="width:1000px; margin:auto;">
				<%= render "tc_#{@tc.current_step}", :f => f %>
			</div>
		</br>
				
					<div style="width:150px; float:left;">
						<%= f.submit "Back", class: "btn btn-large btn-primary", :name => 'back_button' unless @tc.first_step? %>
					</div>
					<div style="width:150px; float:right;">	
						<%= f.submit "Continue", class: "btn btn-large btn-primary", :name => 'next_button' unless @tc.last_step? %>
					</div>
					<div style="width:200px; margin:auto;">
						<%= f.submit "Quit & Submit Changes", class: "btn btn-large btn-primary", :name => 'submit_button' %>
					</div>
			<% end %>
	</div>
</div>

