
<% @users.each do |user| %>
	<li>
		<%= gravatar_for user, size: 52 %>
		<%= link_to user.name, user %>
		<% if can? :assign_roles, @user %>
			| <%= link_to "delete", user, method: :delete, confirm: "Delete user?" %>
			| <%= link_to "edit", edit_user_path(user) %>
			| <%= link_to "permission", user_permission_path(user) %>
		<% end %>
	</li>
<% end %>