<% provide(:title, 'Permissions') %>
<h1>User Permissions</h1>

	<div class="row">
		<div class="span6 offset3" style="width:300px; margin:auto;">
			<%= form_for @user do |f| %>
				<% if current_user.is? :admin %>
					<% if can? :assign_roles, @user %>
						<% for role in User::ROLES %>
							<%= label_tag "user_roles_#{role}", role.humanize %>
							<%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"} %> 
						<% end %>
						<%= hidden_field_tag "user[roles][]", "" %>
					<% end %>
				<% end %>
				<%= f.select :user_study_site, [[' ', nil],["Seattle", 1],["Houston", 2],["Cleveland", 3],["Tampa", 4],["Minneapolis", 5]] %>

				<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
			<% end %>

			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails">change gravitar image</a>
		</div>
	</div>


