<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<hr>
		</section>
		<div class="user_profile">
			<h2>Data Entry</h2>
			<body>
				<center>Here you will find links to the various tasks you are allowed access to.
					<p><%= link_to "Add a new Patient", newsubject_path %></p>
					<p><%= link_to "View Patients", subjects_path %></p>
					<p><%= link_to "Randomize Group", randomize_path %></p>
					<p><%= link_to "View Screening Log", screening_log_path %></p>
				</center>

			</body>
		</div>
	</aside>
</div>

