<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<b><%= @user.user_study_site == 1? "Seattle" : @user.user_study_site == 2? "Houston" : @user.user_study_site == 3? "Cleveland" : @user.user_study_site == 4? "Tampa" : "nil"%></b>
			<% @user.roles.each do |role| %>
				| <%= role.camelize %>
			<% end %>
			
			<hr>
		</section>
		<div class="user_profile">
			<h2>Tools</h2>
			<body>
				<center>Here you will find links to the various tasks you are allowed access to.
					<p><%= link_to "Add a new Participant", newsubject_path %></p>
					<p><%= link_to "View Participant", subjects_path %></p>
					<p><%= link_to "View Screening Log", screening_log_path %></p>
				</center>
			</body>
			<% if current_user.is? :admin %>
				<h2>Data</h2>
				<center>
					<p><%= link_to "Screening Data", screening_crf_data_path %></p>
				</center>
			<% end %>
		</div>
	</aside>
</div>

