<div style="width:300px;margin:auto;">
<%= form_for(@subject) do |f| %>
  <!-- Look for errors -->
  <% if @subject.errors.any? %>
    <div id="error_explanation"></div>
      <h2>
        <%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:
      </h2>
      <ul>
        <% @subject.errors.messages.values.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Add new subject to Subject -->
    <p>Study Site:</p>
    <% if current_user.user_study_site == 1 %>
      <%= f.select :study_site, [["Seattle", 1]] %>
    
    <% elsif current_user.user_study_site == 2 %>
      <%= f.select :study_site, [["Houston", 2]] %>
   
    <% elsif current_user.user_study_site == 3 %>
      <%= f.select :study_site, [["Cleveland", 3]] %>
    
    <% elsif current_user.user_study_site == 4 %>
      <%= f.select :study_site, [["Tampa", 4]] %>
    <% elsif current_user.is? :admin %>
      <%= f.select :study_site, [["Seattle", 1],["Houston", 2],["Cleveland", 3],["Tampa", 4]] %>
    <% end %>
    <p>Subject Number:</p>
    <%= f.number_field :subject_id %>
    <p>Enrolled</p>
    <%= f.select :enrolled, [['', nil],["Yes",1],["No",0]] %>
    <div id="not_enrolled"><p>If subject not enrolled, select reason:</p></div>
    <%= f.select :reason_not_enrolled, [['',nil],["Refused",0],["Not eligible",1],["Missed recruitment window",2],["Too ill",3],["Died before recruitment/interview",4],["Other",5]] %>
    <%= f.text_field :reason_not_enrolled_other %>

    <%= f.submit "Save Subject", class: "btn btn-large btn-primary" %>
<% end %> 
</div>
