<h2>Multidimensional Scale of Perceived Social Support</h2>
	<p><i>Instructions: We are interested in how you feel about the following statements. Read each statement carefully. Indicate how you feel about each statement.</i></p>
	<table>
		<tr>
			<th>#</th>
			<th>Question</th>
			<th>Response</th>
		</tr>
		<tr>
			<td>1.</td>
			<td>There is a special person who is around when I am in need.</td>
			<td><%= select(:subject,:fu6month_mspss_1, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>2.</td>
			<td>There is a special person with whom I can share my joys and sorrows.</td>
			<td><%= select(:subject,:fu6month_mspss_2, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>3.</td>
			<td>My family really tries to help me.</td>
			<td><%= select(:subject,:fu6month_mspss_3, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>4.</td>
			<td>I get the emotional help and support I need from my family.</td>
			<td><%= select(:subject,:fu6month_mspss_4, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>5.</td>
			<td>I have a special person who is a real source of comfort to me.</td>
			<td><%= select(:subject,:fu6month_mspss_5, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>6.</td>
			<td>My friends really try to help me.</td>
			<td><%= select(:subject,:fu6month_mspss_6, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>7.</td>
			<td>I can count on my friends when things go wrong.</td>
			<td><%= select(:subject,:fu6month_mspss_7, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>8.</td>
			<td>I can talk about my problems with my family.</td>
			<td><%= select(:subject,:fu6month_mspss_8, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>9.</td>
			<td>I have friends with whom I can share my joys and sorrows.</td>
			<td><%= select(:subject,:fu6month_mspss_9, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>10.</td>
			<td>There is a special person in my life who cares about my feelings.</td>
			<td><%= select(:subject,:fu6month_mspss_10, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>11.</td>
			<td>My family is willing to help me make decisions.</td>
			<td><%= select(:subject,:fu6month_mspss_11, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
		<tr>
			<td>12.</td>
			<td>I can talk about my problems with my friends.</td>
			<td><%= select(:subject,:fu6month_mspss_12, [["",nil],["Very Strongly Disagree",1],["Strongly Disagree",2],["Mildly Disagree",3],["Neutral",4],["Mildly Agree",5],["Strongly Agree",6],["Very Strongly Agree",7]],{}, :style => "width:auto") %></td>
		</tr>
	</table>