<%= form_for(@subject) do |f| %>
	<h2>Screening Id: <%= @subject.screening_id %></h2>
	<h2>Subject Id: <%= @subject.subject_id %></h2>
	<h2> 1.0 Short Portable Mental Status Questionnaire (SPMSQ)</h2>
	<table border="1">
		<tr>
			<th>#</th>
			<th>Questions</th>
			<th>Correct/Incorrect</th>
			<th>Instructions</th>
		</tr>
		<tr>
			<td>1</td>
			<td>What is the date today?</td>
			<td><%= select(:subject, :sc_smpsq_1, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Correct only when the month, date, and year are all correct.</td>
		</tr>
		<tr>
			<td>2</td>
			<td>What day of the week is it?</td>
			<td><%= select(:subject, :sc_smpsq_2, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Correct only when the day is correct.</i></td>
		</tr>
		<tr>
			<td>3</td>
			<td>What is the name of this place?</td>
			<td><%= select(:subject, :sc_smpsq_3, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Correct if any of the description of the location is given.</i></td>
		</tr>
		<tr>
			<td>4</td>
			<td>What is your telephone number</td>
			<td><%= select(:subject, :sc_smpsq_4, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Correct when the number can be verified or the subject can repeat the number at some other time.</i></td>
		</tr>
		<tr id="screen_street_address">
			<td>4a</td>
			<td>What is your street address?</td>
			<td><%= select(:subject, :sc_smpsq_4a, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Ask only if the subject does not have a telephone.</i></td>
		</tr>
		<tr>
			<td>5</td>
			<td>How old are you?</td>
			<td><%= select(:subject, :sc_smpsq_5, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Correct when the age corresponds with the date of birth.</i></td>
		</tr>
		<tr>
			<td>6</td>
			<td>When were you born?</td>
			<td><%= select(:subject, :sc_smpsq_6, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Correct only when the month, data, and year are correct.</i></td>
		</tr>
		<tr>
			<td>7</td>
			<td>Who is the president of the United States now?</td>
			<td><%= select(:subject, :sc_smpsq_7, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Requires only the correct last name.</i></td>
		</tr>
		<tr>
			<td>8</td>
			<td>Who was the president just before him?</td>
			<td><%= select(:subject, :sc_smpsq_8, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Requires only the correct last name.</i></td>
		</tr>
		<tr>
			<td>9</td>
			<td>What was your mother's maiden name?</td>
			<td><%= select(:subject, :sc_smpsq_9, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Needs no verification; it only requires a female first name plus a last name other than the subject's.</i></td>
		</tr>
		<tr>
			<td>10</td>
			<td>Subtract 3 from 20 and keep subtracting 3 from each new number, all the way down</td>
			<td><%= select(:subject, :sc_smpsq_10, [["", nil],["Yes", 1],["No", 0]])  %></td>
			<td><i>Any error in the series-or an unwillingness to attempt the series is scored as incorrect.</i></td>
		</tr>
	</table>
	<br/>
	<p><i>A minimum score of <strong>5/10</strong> required for study participation. Participants potentially influenced by pain medication or current medical state may be screened again at a later date.</i></p>

	<h2>2.0 Inclusion Criteria</h2>
	<div style="width:auto;margin:auto;">
		<strong><p><i>Indicate whether the patient met each criterion</i></p></strong>
		<ol>
			<li>
				<p>Is the patient older than 18 years of age?</p>
				<%= select(:subject, :sc_inc_1,[["", nil],["Yes",1],["No", 0]], {}, :style => "width:70px") %>
			</li> 
			<li>
				<p>Is this patient within 2 years of a major unilateral amputation surgery? <i>This may include initial, contralateral, or revision amputation at any of the following levels: transfemoral (above-knee), transtibial (below-knee), knee disarticulation (through-knee), Syme’s/ankle disarticulation (through-ankle), and transmetatarsal amputation (through-foot, includes Chopart amputation and Lisfranc amputation) due to dysvascular disease/diabetes. *Can include a revision of an amputation. Revision amputation is a soft tissue revision <u>with bone shortening</u> at the same or a higher level.</i></p> 
				<%= select(:subject, :sc_inc_2,[["", nil],["Yes",1],["No", 0]], {}, :style => "width:70px") %>
				<ol>
					<div id="screen_ampsurg">
					<li>
						<p>If yes, please mark which surgery level: (check only one)</p>
						<%= select(:subject, :sc_inc_2a,[["",nil],["Transmetatarsal", 1],["Midfoot",2],["Symes/ankle disarticulation",3],["Transtibial",4],["Knee disarticulation",5],["Transfemoral",6]], {}, :style => "width:200px") %>
					</li>
					<li>
						<p>If Yes, please mark the surgery type: (<i>check only one</i>)</p>
						<%= select(:subject, :sc_inc_2b,[["", nil],["Initial", 1],["Revision", 2]], {}, :style => "width:200px") %>
					</li>
					</div>
				</ol>
			</li>
			<li>
				<p>Is the primary cause for amputation diabetes or peripheral vascular disease? (<i>minor trauma leading to complications resulting from diabetes/peripheral vascular disease is ok to recruit; e.g., stepping on a nail</i>)</p>
				<%= select(:subject, :sc_inc_3,[["", nil],["Yes",1],["No", 0]], {}, :style => "width:70px") %>
			</li>
			<li>
				<p>Does the patient have a contact address and phone number so that they can be reached during the course of the study?</p> 
				<%= select(:subject, :sc_inc_4,[["", nil],["Yes",1],["No", 0]], {}, :style => "width:70px") %>
			</li>
			<li>
				</p>Can the patient speak and comprehend English?</p> 
				<%= select(:subject, :sc_inc_5,[["", nil],["Yes",1],["No", 0]], {}, :style => "width:70px") %>
			</li>
		</ol>
	</div>	
	<strong><p><i>INCLUSION CRITERIA - All inclusion criteria must be marked yes to continue.</i></p></strong>
	<h2>3.0 Exclusion Criteria</h2>
	<ol>
		<li>
			<p>Does the patient have inadequate cognitive or language function to consent or participate in the study or by medical record review? (e.g. diagnosed dementia or Alzheimer's disease?)</p>
			<%= select(:subject, :sc_exc_1,[["", nil],["Yes",1],["No", 0]], {}, :style => "width:70px") %>
		</li>
		<li>
			<p>Does the patient have an active substance use disorder identified by chart review and initial screening? (OK if actively engaged in treatment)</p>
			<%= select(:subject, :sc_exc_2,[["", nil],["Yes",1],["No", 0]], {}, :style => "width:70px") %>
		</li>
		<li>
			<p>Does the patient have a major uncontrolled psychiatric illness (bipolar disorder, psychosis, severe suicidality) identified by chart review and confirmed, if necessary, with a provider or investigator?</p>
			<%= select(:subject, :sc_exc_3,[["", nil],["Yes", 1],["No", 0]], {}, :style => "width:70px") %>
			</li>
		<li>
			<p>Does the patient have a spinal cord injury (SCI)?</p>
			<%= select(:subject, :sc_exc_4,[["", nil],["Yes", 1],["No", 0]], {}, :style => "width:70px") %>
		</li>
	</ol>
	<strong><p><i>EXCLUSION CRITERIA - All exclusion criteria must be marked no to continue.</i></p></strong>

	<h2>4.0 Participant Demographics</h2>
	<ol>
		<li>
			<p>Age(years):</p>
			<%= number_field(:subject, :sc_pd_1,:style => "width:70px") %>
		</li>
		<li>
			<p>Gender</p> 
			<%= select(:subject, :sc_pd_2,[["", nil],["Male", 1],["Female", 2]], {}, :style => "width:auto") %>
		</li>
		<li>
			<p>Ethnicity</p> 
			<%= select(:subject, :sc_pd_3,[["", nil],["Hispanic or Latino", 1],["Not Hispanic or Latino", 2],["Unknown", 3]], {}, :style => "width:auto") %>
		</li>
		<li>
			<p>Race</p> 
			<%= select(:subject, :sc_pd_4,[["", nil],["White", 1],["Black or African American", 2],["Asian or Asian American", 3], ["Native Hawaiian or other Pacific Islander", 4],["American Indian or Alaska Native", 5],["Other", 6]], {}, :style => "width:auto") %>
			<div id="screen_race_other">
				<p>Other: <%= text_field(:subject, :sc_pd_4o, :style => "width:200px") %> </p> 
			</div>
		</li>
		<li>
			<p>Current Martial Status</p>
			<%= select(:subject, :sc_pd_5,[["", nil],["Single, never married", 1],["Married/Domestic partnership", 2],["Separated", 3], ["Divorced", 4],["Widowed", 5]], {}, :style => "width:200px") %>
		</li>
		<p>Is subject reporting from a Telehealth site?</p>
		<%= select(:subject, :telehealth,[["", nil],["1 - Yes", 1],["0 - No", 0]], {}, :style => "width:auto") %>
		<li>
			<p>Approximate driving distance from home to study site (or Telehealth site).</p> 
			<%= select(:subject, :sc_pd_6,[["", nil],["Less than one hour", 1],["1-2 hours", 2],["2-4 hours", 3], ["4-6 hours", 4],["6-8 hours", 5],["More than 8 hours", 6]], {}, :style => "width:200px") %>
		</li>
	</ol>

	<h2>5.0 Participant Eligibility</h2>
	<ol>
		<li>
			<p>Did the patient meet all of the inclusion criteria?</p>
			<%= select(:subject, :sc_pe_1,[["", nil],["Yes", 1],["No", 2]], {}, :style => "width:70px") %>
		</li>
		<li>
			<p>Did the patient meet any of the exclusion criteria?</p>
			<%= select(:subject, :sc_pe_2,[["", nil],["Yes", 1],["No", 2]], {}, :style => "width:70px") %>
		</li>
			<li>
				<div id="patient_eligible">
					<p>Is the patient eligible for this study?</p>
					<%= select(:subject, :sc_pe_3,[["", nil],["Yes", 1],["No", 2]], {}, :style => "width:70px") %>
				</div>
					<ol>
						<div id="patient_eligible_yes">
							<li>If the patient was eligible but did not enroll in the study, please check the primary reason for not participating.</li>
							<%= select(:subject, :sc_pe_3a, [["",nil],["Refused Participation",0],["Missed recruitment window",2],["Too ill",3],["Died before interview",4],["Other",5]], {}, :style => "width:200px") %>
						</div>
					</ol>
			</li>
		<strong><p><i>5.1 must be answered "Yes" and 5.2 answered "No" for the subject to be eligible.</i></p></strong>
		<li>
			<p>Was a waiver granted for any deviations from the inclusion/exclusion criteria?</p>
			<%= select(:subject, :sc_pe_4,[["", nil],["Yes", 1],["No", 2]], {}, :style => "width:70px") %>
		</li>
		<div id="screen_waiver_granted">
			<strong><p><i>If a waiver was granted, please state by whom and reasoning:</i></strong>
			<%= text_field(:subject, :sc_pe_4a, :style => "width:200px") %></p>
		</div>
		<div id="screen_ineligible">
			<li>
				<p>If the subject was ineligible, please check the primary reason for ineligibility:</p>
				<%= select(:subject, :sc_pe_5,[["", nil],["Failed SPMSQ/dementia", 1],["Active substance use disorder", 2],["Major uncontrolled psychiatric illness", 3],["No contact info", 4],["Non-English speaking", 5],["Investigator decision", 8],["Other", 7]], {}, :style => "width:200px") %>
				<div id="screen_ineligible_other">
					<p>Other: <%= text_field(:subject, :sc_pe_5o_reason, :style => "width:200px") %></p>
				</div>
			</li>
		</div>
	</ol>
	<div id="informed_consent">
	<h2>6.0 Informed Consent</h2>
		<ol>
			<li>
				<p>Has the patient signed the informed consent prior to any study related procedures?</p>
				<%= select(:subject, :sc_ic_1,[["", nil],["Yes", 1],["No", 2]], {}, :style => "width:70px") %>
			</li>
			<li>
				<p>Was the patient given a copy of their signed informed consent?</p>
				<%= select(:subject, :sc_ic_2,[["", nil],["Yes", 1],["No", 2]], {}, :style => "width:70px") %>
			</li>
			<div style="width:300px;margin:left;">
				<li>
					<p>Date Informed Consent and HIPAA were signed</p>
					<%= date_select(:subject, :sc_ic_3, :style => "width:140px") %>
				</li>
			</div>
			<li>
				<p>Subject Number (e.g. 1001, 1002, 2003)</p>
				<%= number_field(:subject, :subject_id, :style => "width:70px") %>
			</li>

		</ol>
	</div>
	<p>Enroll subject?</p>
		<%= select(:subject, :enrolled, [["", nil],["Yes",1],["No",2]], {}, :style => "width:70px") %>
	<div style="width:300px;margin:auto;">
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	</div>
<% end %>
