	<h2>Chronic Pain Grade</h2>
	<ol>
		<li>How would you rate your pain on a 0-10 scale at the present time, this is right now, where 0 is 'No Pain' and 10 is 'Pain as bad as it could be'?</li>
		<br/><%= select(:subject, :tc_cpg_1, [["",nil],["0",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]], {}, :style => "width:70px") %>
		<li>In the past 6 months, how intense was your worse pain rated on a 0-10 scale (rated as above)?</li>
		<br/><%= select(:subject, :tc_cpg_2, [["",nil],["0",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]], {}, :style => "width:70px") %>
		<li>In the past 6 months, on average, how intense was your pain rated on a 0-10 scale (rated as above)?</li>
		<br/><%= select(:subject, :tc_cpg_3, [["",nil],["0",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]], {}, :style => "width:70px") %>
		<li>About how many days in the last 6 months have you been kept from your usual activities (work, school, housework) because of this pain?</li>
		<br/><%= select(:subject, :tc_cpg_4, [["",nil],["0",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]], {}, :style => "width:70px") %>
		<li>In the past 6 months, how much has this pain interfered with your daily activities on a 0-10 scale where 0 is 'no interference' and 10 is 'extreme change'?</li>
		<br/><%= select(:subject, :tc_cpg_5, [["",nil],["0",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]], {}, :style => "width:70px") %>
		<li>In the past 6 months, how much has this pain changed your ability to take part in recreational, social and family activities where 0 is 'no change' and 10 is 'extreme change'?</li>
		<br/><%= select(:subject, :tc_cpg_6, [["",nil],["0",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]], {}, :style => "width:70px") %>
		<li>In the past 6 months, how has this pain changed your ability to work (including housework) where 0 is 'no change' and 10 is 'extreme change'?</li>
		<br/><%= select(:subject, :tc_cpg_7, [["",nil],["0",0],["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]], {}, :style => "width:70px") %>
	</ol>