<h2>The Positive and Negative Affect Schedule</h2>
	<p><i>This scale consists of a number of words that describe different feelings and emotions. Read each item and then list the number from the scale below next to each word. Indicate to what extent you feel this way right now, that is, at the present moment OR indicate the extent you have felt this way over the past week.</i></p>
	<table>
		<tr>
			<th>Question</th>
			<th>Response</th>
			<th>--------</th>
			<th>Question</th>
			<th>Response</th>
			
		</tr>
		<tr>
			<td>1. Interested</td>
			<td><%= select(:subject, :tc_panas_1,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>2. Distressed</td>
			<td><%= select(:subject, :tc_panas_2,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>3. Excited</td>
			<td><%= select(:subject, :tc_panas_3,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>4. Upset</td>
			<td><%= select(:subject, :tc_panas_4,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>5. Strong</td>
			<td><%= select(:subject, :tc_panas_5,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>6. Guilty</td>
			<td><%= select(:subject, :tc_panas_6,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>7. Scared</td>
			<td><%= select(:subject, :tc_panas_7,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>8. Hostile</td>
			<td><%= select(:subject, :tc_panas_8,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>9. Enthusiastic</td>
			<td><%= select(:subject, :tc_panas_9,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>10. Proud</td>
			<td><%= select(:subject, :tc_panas_10,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>11. Irritable</td>
			<td><%= select(:subject, :tc_panas_11,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>12. Alert</td>
			<td><%= select(:subject, :tc_panas_12,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>13. Ashamed</td>
			<td><%= select(:subject, :tc_panas_13,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>14. Inspired</td>
			<td><%= select(:subject, :tc_panas_14,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>15. Nervous</td>
			<td><%= select(:subject, :tc_panas_15,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>16. Determined</td>
			<td><%= select(:subject, :tc_panas_16,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>17. Attentive</td>
			<td><%= select(:subject, :tc_panas_17,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>18. Jittery</td>
			<td><%= select(:subject, :tc_panas_18,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
		<tr>
			<td>19. Active</td>
			<td><%= select(:subject, :tc_panas_19,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
			<td></td>
			<td>20. Afraid</td>
			<td><%= select(:subject, :tc_panas_20,
			[["",nil],
			["Very slightly or not at all",1],
			["A little",2],
			["Moderately",3],
			["Quite a bit",4],
			["Extremely",5]])%></td>
		</tr>
	</table>