<h1>Participant Data Entry</h1>
<p>With this table, you can view all currently entered subjects and quickly view or search for any table element. This table automatically sorts itself as you do so. For this particular table, try searching for a Participant ID.</p>
<br />
<div>
  <table id="all_subjects" cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
    <thead>
      <tr>
        <th>Subject ID</th>
        <th>Study Site</th>
        <th>Baseline</th>
        <th>3 Week Chart Review</th>
        <th>Treatment Completion</th>
        <th>18 Week Chart Review</th>
        <th>6 Month Follow Up</th>
        <th>PTCS – Facilitator only</th>
        <!-- <th>1 Year Chart Review</th> -->
        <% if current_user.is? :admin %>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead> 
    <body>
      <% @subjects.each do |sub| %>
      <% if (current_user.user_study_site == sub.study_site) or current_user.is? :admin and sub.subject_id != nil %>
        <tr>
          <td><%= sub.subject_id %></td>
          <td><%= sub.study_site == 1? "Seattle" : sub.study_site == 2? "Houston" : sub.study_site == 3? "Cleveland" : sub.study_site == 4? "Tampa" : sub.study_site == 5? "Minneapolis" : "nil"%></td>



<!-- This is the old tag that works for sure -->

           <td>
          <% if Baseline.where(subject_id: sub.subject_id).first != nil %> 
            <%= link_to "edit", baseline_path(Baseline.where(subject_id: sub.subject_id).first) %>              
          <% else %>
            <%= Baseline.create(subject_id: sub.subject_id) %>
          <% end %>
          </td> 

<!-- End of old tag THAT WORKS FOR SURE -->
          
         <% if FollowUp3Week.where(subject_id: sub.subject_id).first.fu3week_crf_status == 1 %> 
          <td bgcolor="#98FB98" >
        <% else %>
          <td>
        <% end %> 
          <% if FollowUp3Week.where(subject_id: sub.subject_id).first != nil %>
            <%= link_to "edit", follow_up3_week_path(FollowUp3Week.where(subject_id: sub.subject_id).first) %>
          <% else %>
            <% FollowUp3Week.create(subject_id: sub.subject_id) %>
          <% end %>
          </td>

        <% if TreatmentCompletion.where(subject_id: sub.subject_id).first.tc_crf_status == 1 %> 
          <td bgcolor="#98FB98" >
        <% else %>
          <td>
        <% end %> 
          <% if TreatmentCompletion.where(subject_id: sub.subject_id).first != nil %>
            <%= link_to "edit", treatment_completion_path(TreatmentCompletion.where(subject_id: sub.subject_id).first) %>
          <% else %>
            <% TreatmentCompletion.create(subject_id: sub.subject_id) %>
          <% end %>
          </td>

        <% if FollowUp18Week.where(subject_id: sub.subject_id).first.fu18week_crf_status == 1 %> 
          <td bgcolor="#98FB98" >
        <% else %>
          <td>
        <% end %> 
          <% if FollowUp18Week.where(subject_id: sub.subject_id).first != nil %>
            <%= link_to "edit", follow_up18_week_path(FollowUp18Week.where(subject_id: sub.subject_id).first) %>
          <% else %>
            <% FollowUp18Week.create(subject_id: sub.subject_id) %>
          <% end %>
          </td>

        <% if FollowUp6Month.where(subject_id: sub.subject_id).first.fu6month_crf_status == 1 %> 
          <td bgcolor="#98FB98" >
        <% else %>
          <td>
        <% end %> 
          <% if FollowUp6Month.where(subject_id: sub.subject_id).first != nil %>
            <%= link_to "edit", follow_up6_month_path(FollowUp6Month.where(subject_id: sub.subject_id).first) %>
          <% else %>
            <% FollowUp6Month.create(subject_id: sub.subject_id) %>
          <% end %>
          </td>

          <td>
            <% if PsychosocialScale.where(subject_id: sub.subject_id).first != nil %>
              <%= link_to "edit", psychosocial_scale_path(PsychosocialScale.where(subject_id: sub.subject_id).first) %>
            <% else %>
              <% PsychosocialScale.create(subject_id: sub.subject_id) %>
            <% end %>
          </td>

<!--            <td>
          <% if FollowUp1Year.where(subject_id: sub.subject_id).first != nil %>
            <%= link_to "edit", follow_up1_year_path(FollowUp1Year.where(subject_id: sub.subject_id).first) %>
          <% else %>
            <% FollowUp1Year.create(subject_id: sub.subject_id) %>
          <% end %>
          </td> -->
          
          <% if current_user.is? :admin %>
          <td>
            <%= link_to "delete", sub, method: :delete, confirm: "Delete subject?" %>
          </td>
          <% end %>
        </tr>
        <% end %> 
      <% end %>
    </body>
  </table>
</div>