<h1>Subject Data Entry</h1>
<p>With this table, you can view all currently entered subjects and quickly view or search for any table element. This table automatically sorts itself as you do so. For this particular table, try searching for a Subject ID.</p>
<br />
<div>
  <table id="subject_test" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Subject ID</th>
        <th>Study Site</th>
        <th>Edit</th>
        <th>Screening</th>
        <th>Baseline</th>
        <th>3 Week Chart Review</th>
        <th>Treatment Completion</th>
        <th>18 Week Chart Review</th>
        <th>6 Month Follow Up</th>
        <th>1 Year Chart Review</th>
      </tr>
    </thead> 
    <tbody>
      <% @subjects.each do |sub| %>
        <tr>
          <td><%= sub.subject_id %></td>
          <td><%= sub.study_site == 1? "Seattle" : sub.study_site == 2? "Houston" : sub.study_site == 3? "Cleveland" : sub.study_site == 4? "Tampa" : "nil"%></td>
          <td><%= link_to "edit", edit_subject_path(sub) %></td>
          <td><%= link_to "edit", subject_screening_path(sub) %></td>




          <% if Baseline.where(subject_id: sub.subject_id).first != nil %> 
            <td><%= link_to "edit", baseline_path([Baseline.where(subject_id: sub.subject_id).first]) %></td>               
          <% else %>
            <%= Baseline.create(subject_id: sub.subject_id) %>
          <% end %> 

          <% if FollowUp3Week.where(subject_id: sub.subject_id).first != nil %>
            <td><%= link_to "edit", follow_up3_week_path([FollowUp3Week.where(subject_id: sub.subject_id).first]) %></td>
          <% else %>
            <%= FollowUp3Week.create(subject_id: sub.subject_id) %>
          <% end %>

          <% if TreatmentCompletion.where(subject_id: sub.subject_id).first != nil %>
            <td><%= link_to "edit", treatment_completion_path([TreatmentCompletion.where(subject_id: sub.subject_id).first]) %></td>
          <% else %>
            <%= TreatmentCompletion.create(subject_id: sub.subject_id) %>
          <% end %>


<!--           <% if FollowUp6Week.where(subject_id: sub.subject_id).first != nil %>
            <td><%= link_to "edit", follow_up6_week_path([FollowUp6Week.where(subject_id: sub.subject_id).first]) %></td>
          <% else %>
            <%= FollowUp6Week.create(subject_id: sub.subject_id) %>
          <% end %> -->

          <% if FollowUp18Week.where(subject_id: sub.subject_id).first != nil %>
            <td><%= link_to "edit", follow_up18_week_path([FollowUp18Week.where(subject_id: sub.subject_id).first]) %></td>
          <% else %>
            <%= FollowUp18Week.create(subject_id: sub.subject_id) %>
          <% end %>

          <% if FollowUp6Month.where(subject_id: sub.subject_id).first != nil %>
            <td><%= link_to "edit", follow_up6_month_path([FollowUp6Month.where(subject_id: sub.subject_id).first]) %></td>
          <% else %>
            <%= FollowUp6Month.create(subject_id: sub.subject_id) %>
          <% end %> 

          <% if FollowUp1Year.where(subject_id: sub.subject_id).first != nil %>
            <td><%= link_to "edit", follow_up1_year_path([FollowUp1Year.where(subject_id: sub.subject_id).first]) %></td>
          <% else %>
            <%= FollowUp1Year.create(subject_id: sub.subject_id) %>
          <% end %>
        </tr> 
      <% end %>
    </tbody>
  </table>
<div>