<h1>Screening Log</h1>
<p>View the complete screening log here.</p>
<br />
<div class="screening_log_table">
  <table id="screening_log" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Subject ID</th>
        <th>Study Site</th>
        <th>Eligible</th>
        <th>Reason Not Eligible</th>
        <th>Enrolled</th>
        <th>Reason Not Enrolled</th>


      </tr>
    </thead> 
    <tbody>
      <% @subjects.each do |sub| %>
        <tr>
          <td><%= sub.subject_id %></td>
          <td><%= sub.study_site == 1? "Seattle" : sub.study_site == 2? "Houston" : sub.study_site == 3? "Cleveland" : sub.study_site == 4? "Tampa" : "nil" %></td> 
          <td><%= sub.sc_pe_3 %></td>
          <td><%= sub.sc_pe_5 %></td>
          <td><%= sub.enrolled %></td>
          <td><%= sub.sc_smpsq_4 %></td>
         

        </tr> 
      <% end %>
    </tbody>
  </table>
<div>