<h1>Screening Log</h1>
<p>View the complete screening log here.</p>
<br />
<div class="screening_log_table">
  <table id="screening_log" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Screening ID</th>
        <th>Subject ID</th>
        <th>Study Site</th>
        <th>Eligible</th>
        <th>Reason Not Eligible</th>
        <th>Enrolled</th>
        <th>Reason Not Enrolled</th>
        <th>Randomized</th>
        <th>Screening CRF</th>
        <% if current_user.is? :admin %>
          <th>Delete</th>
        <% end %>


      </tr>
    </thead> 
    <tbody>
      <% @subjects.each do |sub| %>
      <% if (current_user.user_study_site == sub.study_site) or current_user.is? :admin %>
        <tr>
          <td><%= sub.screening_id %></td>
          <td><%= sub.subject_id %></td>
          <td><%= sub.study_site == 1? "Seattle" : sub.study_site == 2? "Houston" : sub.study_site == 3? "Cleveland" : sub.study_site == 4? "Tampa" : "nil" %></td> 
          <td><%= sub.sc_pe_3 %></td>
          <td><%= sub.sc_pe_5 %></td>
          <td><%= sub.enrolled %></td>
          <td><%= sub.sc_pe_3a %></td>
          <% if sub.treatment_group != nil %>
            <td>Yes</td>
          <% else %>
            <td>No</td>
          <% end %>
          <td><%= link_to "Screening CRF", subject_screening_path(sub) %></td>
          <% if current_user.is? :admin %>
            <td>
              <%= link_to "delete", sub, method: :delete, confirm: "Delete subject?" %>
            </td>
          <% end %>
        </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table>
<div>