<h2>Cognitive Tests</h2>
	<h3>RBANS-List Learning(Verbal Memory)</h3>
	<p><i>Trial 1: I am going to read you a list of words. I want you to listen carefully and, when I finish, repeat back as many words as you can. You don't have to say them in the same order that I do - just repeat back as many words as you can remember, in any order. Okay?</i></p>
	<p><i>Trials 2-4: I am going to read the list again. When I finish, repeat back as many words as you can, even if you have already said them before. Okay?</i></p>
	<p>Patient refused measure: <%= select(:baseline, :refuse_rbans_list, [["",nil],["Refused",1000]], {},:style => "width:100px") %></p>
	<div id="base_rbans_refused">
		<table style="margin:auto">
			<tr>
				<th>List</th>
				<th>Trial 1</th>
				<th>Trial 2</th>
				<th>Trial 3</th>
				<th>Trial 4</th>
			</tr>
			<tr>
				<td>Market</td>
				<td><%= select(:baseline, :base_rbans_t1_1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 1 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 11 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 21 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 31 )%></td>
			</tr>
			<tr>
				<td>Package</td>
				<td><%= select(:baseline, :base_rbans_t1_2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 2 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 12 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 22 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 32 )%></td>
			</tr>
			<tr>
				<td>Elbow</td>
				<td><%= select(:baseline, :base_rbans_t1_3,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 3 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_3,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 13 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_3,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 23 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_3,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 33 )%></td>
			</tr>
			<tr>
				<td>Apple</td>
				<td><%= select(:baseline, :base_rbans_t1_4,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 4 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_4,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 14 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_4,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 24 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_4,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 34 )%></td>
			</tr>
			<tr>
				<td>Story</td>
				<td><%= select(:baseline, :base_rbans_t1_5,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 5 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_5,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 15 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_5,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 25 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_5,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 35 )%></td>
			</tr>
			<tr>
				<td>Carpet</td>
				<td><%= select(:baseline, :base_rbans_t1_6,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 6 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_6,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 16 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_6,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 26 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_6,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 36 )%></td>
			</tr>
			<tr>
				<td>Bubble</td>
				<td><%= select(:baseline, :base_rbans_t1_7,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 7 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_7,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 17 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_7,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 27 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_7,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 37 )%></td>
			</tr>
			<tr>
				<td>Highway</td>
				<td><%= select(:baseline, :base_rbans_t1_8,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 8 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_8,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 18 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_8,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 28 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_8,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 38 )%></td>
			</tr>
			<tr>
				<td>Saddle</td>
				<td><%= select(:baseline, :base_rbans_t1_9,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 9 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_9,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 19 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_9,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 29 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_9,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 39 )%></td>
			</tr>
			<tr>
				<td>Powder</td>
				<td><%= select(:baseline, :base_rbans_t1_10,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 10 )%></td>
				<td><%= select(:baseline, :base_rbans_t2_10,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 20 )%></td>
				<td><%= select(:baseline, :base_rbans_t3_10,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 30 )%></td>
				<td><%= select(:baseline, :base_rbans_t4_10,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 40 )%></td>
			</tr>
		</table>
	</div>
	<h3>Controlled Word Association Test</h3>
	<div id="cowat_table">
		<div id="cowat_table_instructions">
			<p>Directions: I am going to give you one letter of the alphabet and you will have <u>60 seconds</u> to say as many words as you can think of that start with that letter. There are some rules to remember:</p>
			<ol>
				<li>Do not say numbers, e.g., <i>If I say the letter T, do not say two, twelve or twenty</i></li>
				<li>Do not say proper names of people or places, e.g., <i>Texas or Thomas</i></li>
				<li>Do not say different forms of the same word, e.g., if you said <i>run</i>, don't say <i>ran</i> or <i>running</i>.</li>
			</ol>
		</div>
		<p>Patient refused measure: <%= select(:baseline, :refuse_cwat, [["",nil],["Refused",1000]], {},:style => "width:100px") %></p>
		<div id="base_cwat_refused">
			<table style="margin:auto">
				<tr>
					<th>F</th>
					<th>A</th>
					<th>S</th>
				</tr>

				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_1, :style => "width:100px", :tabindex => 41 %></td>
					<td><%= text_field :baseline, :base_cowat_a_1, :style => "width:100px", :tabindex => 66 %></td>
					<td><%= text_field :baseline, :base_cowat_s_1, :style => "width:100px", :tabindex => 91 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_2, :style => "width:100px", :tabindex => 42 %></td>
					<td><%= text_field :baseline, :base_cowat_a_2, :style => "width:100px", :tabindex => 67 %></td>
					<td><%= text_field :baseline, :base_cowat_s_2, :style => "width:100px", :tabindex => 92 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_3, :style => "width:100px", :tabindex => 43 %></td>
					<td><%= text_field :baseline, :base_cowat_a_3, :style => "width:100px", :tabindex => 68 %></td>
					<td><%= text_field :baseline, :base_cowat_s_3, :style => "width:100px", :tabindex => 93 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_4, :style => "width:100px", :tabindex => 44 %></td>
					<td><%= text_field :baseline, :base_cowat_a_4, :style => "width:100px", :tabindex => 69 %></td>
					<td><%= text_field :baseline, :base_cowat_s_4, :style => "width:100px", :tabindex => 94 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_5, :style => "width:100px", :tabindex => 45 %></td>
					<td><%= text_field :baseline, :base_cowat_a_5, :style => "width:100px", :tabindex => 70 %></td>
					<td><%= text_field :baseline, :base_cowat_s_5, :style => "width:100px", :tabindex => 95 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_6, :style => "width:100px", :tabindex => 46 %></td>
					<td><%= text_field :baseline, :base_cowat_a_6, :style => "width:100px", :tabindex => 71 %></td>
					<td><%= text_field :baseline, :base_cowat_s_6, :style => "width:100px", :tabindex => 96 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_7, :style => "width:100px", :tabindex => 47 %></td>
					<td><%= text_field :baseline, :base_cowat_a_7, :style => "width:100px", :tabindex => 72 %></td>
					<td><%= text_field :baseline, :base_cowat_s_7, :style => "width:100px", :tabindex => 97 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_8, :style => "width:100px", :tabindex => 48 %></td>
					<td><%= text_field :baseline, :base_cowat_a_8, :style => "width:100px", :tabindex => 73 %></td>
					<td><%= text_field :baseline, :base_cowat_s_8, :style => "width:100px", :tabindex => 98 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_9, :style => "width:100px", :tabindex => 49 %></td>
					<td><%= text_field :baseline, :base_cowat_a_9, :style => "width:100px", :tabindex => 74 %></td>
					<td><%= text_field :baseline, :base_cowat_s_9, :style => "width:100px", :tabindex => 99 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_10, :style => "width:100px", :tabindex => 50 %></td>
					<td><%= text_field :baseline, :base_cowat_a_10, :style => "width:100px", :tabindex => 75 %></td>
					<td><%= text_field :baseline, :base_cowat_s_10, :style => "width:100px", :tabindex => 100 %></td>
				</tr>
			</table>
			<table style="margin:auto">
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_11, :style => "width:100px", :tabindex => 51 %></td>
					<td><%= text_field :baseline, :base_cowat_a_11, :style => "width:100px", :tabindex => 76 %></td>
					<td><%= text_field :baseline, :base_cowat_s_11, :style => "width:100px", :tabindex => 101 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_12, :style => "width:100px", :tabindex => 52 %></td>
					<td><%= text_field :baseline, :base_cowat_a_12, :style => "width:100px", :tabindex => 77 %></td>
					<td><%= text_field :baseline, :base_cowat_s_12, :style => "width:100px", :tabindex => 102 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_13, :style => "width:100px", :tabindex => 53 %></td>
					<td><%= text_field :baseline, :base_cowat_a_13, :style => "width:100px", :tabindex => 78 %></td>
					<td><%= text_field :baseline, :base_cowat_s_13, :style => "width:100px", :tabindex => 102 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_14, :style => "width:100px", :tabindex => 54 %></td>
					<td><%= text_field :baseline, :base_cowat_a_14, :style => "width:100px", :tabindex => 79 %></td>
					<td><%= text_field :baseline, :base_cowat_s_14, :style => "width:100px", :tabindex => 103 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_15, :style => "width:100px", :tabindex => 55 %></td>
					<td><%= text_field :baseline, :base_cowat_a_15, :style => "width:100px", :tabindex => 80 %></td>
					<td><%= text_field :baseline, :base_cowat_s_15, :style => "width:100px", :tabindex => 104 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_16, :style => "width:100px", :tabindex => 56 %></td>
					<td><%= text_field :baseline, :base_cowat_a_16, :style => "width:100px", :tabindex => 81 %></td>
					<td><%= text_field :baseline, :base_cowat_s_16, :style => "width:100px", :tabindex => 105 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_17, :style => "width:100px", :tabindex => 57 %></td>
					<td><%= text_field :baseline, :base_cowat_a_17, :style => "width:100px", :tabindex => 82 %></td>
					<td><%= text_field :baseline, :base_cowat_s_17, :style => "width:100px", :tabindex => 106 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_18, :style => "width:100px", :tabindex => 58 %></td>
					<td><%= text_field :baseline, :base_cowat_a_18, :style => "width:100px", :tabindex => 83 %></td>
					<td><%= text_field :baseline, :base_cowat_s_18, :style => "width:100px", :tabindex => 107 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_19, :style => "width:100px", :tabindex => 59 %></td>
					<td><%= text_field :baseline, :base_cowat_a_19, :style => "width:100px", :tabindex => 84 %></td>
					<td><%= text_field :baseline, :base_cowat_s_19, :style => "width:100px", :tabindex => 108 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_20, :style => "width:100px", :tabindex => 60 %></td>
					<td><%= text_field :baseline, :base_cowat_a_20, :style => "width:100px", :tabindex => 85 %></td>
					<td><%= text_field :baseline, :base_cowat_s_20, :style => "width:100px", :tabindex => 109 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_21, :style => "width:100px", :tabindex => 61 %></td>
					<td><%= text_field :baseline, :base_cowat_a_21, :style => "width:100px", :tabindex => 86 %></td>
					<td><%= text_field :baseline, :base_cowat_s_21, :style => "width:100px", :tabindex => 110 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_22, :style => "width:100px", :tabindex => 62 %></td>
					<td><%= text_field :baseline, :base_cowat_a_22, :style => "width:100px", :tabindex => 87 %></td>
					<td><%= text_field :baseline, :base_cowat_s_22, :style => "width:100px", :tabindex => 111 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_23, :style => "width:100px", :tabindex => 63 %></td>
					<td><%= text_field :baseline, :base_cowat_a_23, :style => "width:100px", :tabindex => 88 %></td>
					<td><%= text_field :baseline, :base_cowat_s_23, :style => "width:100px", :tabindex => 112 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_24, :style => "width:100px", :tabindex => 64 %></td>
					<td><%= text_field :baseline, :base_cowat_a_24, :style => "width:100px", :tabindex => 89 %></td>
					<td><%= text_field :baseline, :base_cowat_s_24, :style => "width:100px", :tabindex => 113 %></td>
				</tr>
				<tr> 
					<td><%= text_field :baseline, :base_cowat_f_25, :style => "width:100px", :tabindex => 65 %></td>
					<td><%= text_field :baseline, :base_cowat_a_25, :style => "width:100px", :tabindex => 90 %></td>
					<td><%= text_field :baseline, :base_cowat_s_25, :style => "width:100px", :tabindex => 114 %></td>
				</tr>
			</table>
			<table style="margin:auto">
				<tr>
					<td><b>Total F</b></td>
					<td><b>Total A</b></td>
					<td><b>Total S</b></td>
				</tr>
				<tr>
					<td><%= text_field :baseline, :cowat_total_f, :style => "width:100px", :tabindex => 115 %></td>
					<td><%= text_field :baseline, :cowat_total_a, :style => "width:100px", :tabindex => 116 %></td>
					<td><%= text_field :baseline, :cowat_total_s, :style => "width:100px", :tabindex => 117 %></td>
				</tr>
			</table>
		</div>
	</div>

	<h3>WAIS-III Digit Span</h3>
	<p><strong>A. Instructions for Digits Forward</strong></p>
	<p><i>Say "I am going to say some numbers. Listen carefully, and when I am through, I want you to say them right after me. Just say what I say."</i></p>
	<p><i>Discontinue when the examinee scores <strong>NO</strong> on BOTH trials of any item.</i></p>
	<p><i><strong>Note: It is helpful to write down the subject's response for each trial to ensure correct scoring.</strong></i></p>
	<p>Patient refused measure: <%= select(:baseline, :refuse_wais_1, [["",nil],["Refused",1000]], {},:style => "width:100px") %></p>
	<div id="base_wais1_refused">
		<table border="1" style="margin:auto">
			<tr>
				<th>#</th>
				<th>Trial Item/Response</th>
				<th>Trial 1 Score</th>
				<th>Trial 2 Score</th>
			</tr>
			<tr>
				<td>1. </td>
				<td>Trial 1 <strong>1 - 7</strong><hr>Trial 2 <strong>6 - 3</strong></td>
				<td><%= select(:baseline, :base_wais_a_1_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 117)%></td>
				<td><%= select(:baseline, :base_wais_a_1_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 125)%></td>
			</tr>
			<tr>
				<td>2. </td>
				<td>Trial 1 <strong>5 - 8 - 2</strong><hr>Trial 2 <strong>6 - 9 - 4</strong></td>
				<td><%= select(:baseline, :base_wais_a_2_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 118)%></td>
				<td><%= select(:baseline, :base_wais_a_2_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 126)%></td>
			</tr>
			<tr>
				<td>3. </td>
				<td>Trial 1 <strong>6 - 4 - 3 - 9</strong><hr>Trial 2 <strong>7 - 2 - 8 - 6</strong></td>
				<td><%= select(:baseline, :base_wais_a_3_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 119)%></td>
				<td><%= select(:baseline, :base_wais_a_3_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 127)%></td>
			</tr>
			<tr>
				<td>4. </td>
				<td>Trial 1 <strong>4 - 2 - 7 - 3 - 1</strong><hr>Trial 2 <strong>7 - 5 - 8 - 3 - 6</strong></td>
				<td><%= select(:baseline, :base_wais_a_4_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 120)%></td>
				<td><%= select(:baseline, :base_wais_a_4_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 128)%></td>
			</tr>
			<tr>
				<td>5. </td>
				<td>Trial 1 <strong>6 - 1 - 9 - 4 - 7 - 3</strong><hr>Trial 2 <strong>3 - 9 - 2 - 4 - 8 - 7</strong></td>
				<td><%= select(:baseline, :base_wais_a_5_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 121)%></td>
				<td><%= select(:baseline, :base_wais_a_5_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 129)%></td>
			</tr>
			<tr>
				<td>6. </td>
				<td>Trial 1 <strong>5 - 9 - 1 - 7 - 4 - 2 - 8</strong><hr>Trial 2 <strong>4 - 1 - 7 - 9 - 3 - 8 - 6</strong></td>
				<td><%= select(:baseline, :base_wais_a_6_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 122)%></td>
				<td><%= select(:baseline, :base_wais_a_6_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 130)%></td>
			</tr>
			<tr>
				<td>7. </td>
				<td>Trial 1 <strong>5 - 8 - 1 - 9 - 2 - 6 - 4 - 7</strong><hr>Trial 2 <strong>3 - 8 - 2 - 9 - 5 - 1 - 7 - 4</strong></td>
				<td><%= select(:baseline, :base_wais_a_7_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 123)%></td>
				<td><%= select(:baseline, :base_wais_a_7_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 131)%></td>
			</tr>
			<tr>
				<td>8. </td>
				<td>Trial 1 <strong>2 - 7 - 5 - 8 - 6 - 2 - 5 - 8 - 4</strong><hr>Trial 2 <strong>7 - 1 - 3 - 9 - 4 - 2 - 5 - 6 - 8</strong></td>
				<td><%= select(:baseline, :base_wais_a_8_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 124)%></td>
				<td><%= select(:baseline, :base_wais_a_8_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 132)%></td>
			</tr>
		</table>
	</div>
	<p><strong>B. Instructions for Digits Backward:</strong></p>
	<p><i>Now I am going to say some more numbers. But this time when I stop, I want you to say them backward. For example, if I say 7-1-9, what would you say? If the examinee responds correctly (9-1-7) then say "That's right" and proceed to Trial 1 of item 1. If the examinee responds incorrectly, provide the correct response and say:</i></p>
	<p><i>"No, you would say 9-1-7. I said 7-1-9, so to say it backward, you would say 9-1-7. Now try these numbers. Remember you are to say them backward: 3-4-8. Do not provide any assistance on this example or any of the items. Whether the examinee responds correctly (8-4-3) or not, proceed to Trial 1 of Item 1.</i></p>
	<p><i>Discontinue when the examinee scores 0 on BOTH trials of any item.</i></p>
	<p><i><strong>Note: It is helpful to write down the subject's response for each trial to ensure correct scoring.</strong></i></p>
	<p>Patient refused measure: <%= select(:baseline, :refuse_wais_2, [["",nil],["Refused",1000]], {},:style => "width:100px") %></p>
	<div id="base_wais2_refused">
		<table border="1" style="margin:auto">
			<tr>
				<th>#</th>
				<th>Trial Item/Response</th>
				<th>Trial 1 Score</th>
				<th>Trial 2 Score</th>
			</tr>
			<tr>
				<td>1. </td>
				<td>Trial 1 <strong>2 - 4</strong><hr>Trial 2 <strong>5 - 7</strong></td>
				<td><%= select(:baseline, :base_wais_b_1_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 133)%></td>
				<td><%= select(:baseline, :base_wais_b_1_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 140)%></td>
			</tr>
			<tr>
				<td>2. </td>
				<td>Trial 1 <strong>6 - 2 - 9</strong><hr>Trial 2 <strong>4 - 1 - 5</strong></td>
				<td><%= select(:baseline, :base_wais_b_2_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 134)%></td>
				<td><%= select(:baseline, :base_wais_b_2_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 141)%></td>
			</tr>
			<tr>
				<td>3. </td>
				<td>Trial 1 <strong>3 - 2 - 7 - 9</strong><hr>Trial 2 <strong>4 - 9 - 6 - 8</strong></td>
				<td><%= select(:baseline, :base_wais_b_3_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 135)%></td>
				<td><%= select(:baseline, :base_wais_b_3_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 142)%></td>
			</tr>
			<tr>
				<td>4. </td>
				<td>Trial 1 <strong>1 - 5 - 2 - 8 - 6</strong><hr>Trial 2 <strong>6 - 1 - 8 - 4 - 3</strong></td>
				<td><%= select(:baseline, :base_wais_b_4_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 136)%></td>
				<td><%= select(:baseline, :base_wais_b_4_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 143)%></td>
			</tr>
			<tr>
				<td>5. </td>
				<td>Trial 1 <strong>5 - 3 - 9 - 4 - 1 - 8</strong><hr>Trial 2 <strong>7 - 2 - 4 - 8 - 5 - 6</strong></td>
				<td><%= select(:baseline, :base_wais_b_5_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 137)%></td>
				<td><%= select(:baseline, :base_wais_b_5_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 144)%></td>
			</tr>
			<tr>
				<td>6. </td>
				<td>Trial 1 <strong>8 - 1 - 2 - 9 - 3 - 6 - 5</strong><hr>Trial 2 <strong>4 - 7 - 3 - 9 -1 - 2 - 8</strong></td>
				<td><%= select(:baseline, :base_wais_b_6_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 138)%></td>
				<td><%= select(:baseline, :base_wais_b_6_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 145)%></td>
			</tr>
			<tr>
				<td>7. </td>
				<td>Trial 1 <strong>9 - 4 - 3 - 7 - 6 - 2 - 5 - 8</strong><hr>Trial 2 <strong>7 - 2 - 8 - 1 - 9 - 6 - 5 - 3</strong></td>
				<td><%= select(:baseline, :base_wais_b_7_t1,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 139)%></td>
				<td><%= select(:baseline, :base_wais_b_7_t2,[["",nil],["Yes",1],["Refused", 1000]], {}, :tabindex => 146)%></td>
			</tr>
		</table>
	</div>
	<h3>RBANS List Recall</h3>
	<p><i>"Do you remember the list of words that I read to you several times in the beginning of the testing? Tell me as many of those words as you can remember now."</i></p>
	<p><i>Select <strong>YES</strong> from the drop down next to the word if it is recalled, or <strong>NO</strong> if it was not.</i></p>
	<p>Patient refused measure: <%= select(:baseline, :refuse_rbans_list_recall, [["",nil],["Refused",1000]], {},:style => "width:100px") %></p>
	<div id="base_rbans_recall_refused">
		<table border="1" style="margin:auto">
			<tr>
				<th>List (Do not read aloud)</th>
				<th>Responses</th>
			</tr>
			<tr>
				<td>Market</td>
				<td><%= select(:baseline, :base_rbans_re_1, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 147) %></td>
			</tr>
			<tr>
				<td>Package</td>
				<td><%= select(:baseline, :base_rbans_re_2, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 148) %></td>
			</tr>
			<tr>
				<td>Elbow</td>
				<td><%= select(:baseline, :base_rbans_re_3, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 149) %></td>
			</tr>
			<tr>
				<td>Apple</td>
				<td><%= select(:baseline, :base_rbans_re_4, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 150) %></td>
			</tr>
			<tr>
				<td>Story</td>
				<td><%= select(:baseline, :base_rbans_re_5, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 151) %></td>
			</tr>
			<tr>
				<td>Carpet</td>
				<td><%= select(:baseline, :base_rbans_re_6, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 152) %></td>
			</tr>
			<tr>
				<td>Bubble</td>
				<td><%= select(:baseline, :base_rbans_re_7, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 153) %></td>
			</tr>
			<tr>
				<td>Highway</td>
				<td><%= select(:baseline, :base_rbans_re_8, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 154) %></td>
			</tr>
			<tr>
				<td>Saddle</td>
				<td><%= select(:baseline, :base_rbans_re_9, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 155) %></td>
			</tr>
			<tr>
				<td>Powder</td>
				<td><%= select(:baseline, :base_rbans_re_10, [["",nil],["Yes",1],["No",0],["Refused", 1000]], {}, :tabindex => 156) %></td>
			</tr>
		</table>
	</div>
