<title>Race and Gender Distribution</title>
<h1>Race and Gender Distribution</h1>
<p>Scroll down to find your own site.</p>
<h2>All Site Total</h2>
<center>
	<table border="3" cellpadding="4" cellspacing="3" width="100%">
		<tr>
			<td></td>
			<td colspan="3">Not Hispanic or Latino</td>
			<td colspan="3">Hispanic or Latino</td>
			<td colspan="3">Unknown/Reported</td>
			<td>Total</td>
		</tr>
		<tr>
			<td><strong>Racial Categories</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td></td>
		</tr>
		<tr>
			<td>American Indian</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '5', enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '5', enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '5', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '5', enrolled: '1').count %></td>
		</tr>
		<tr>
			<td>Asian or Asian American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '3', enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '3', enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '3', enrolled: '1').count %></td>
		</tr>
		<tr>
			<td>Native Hawaiian/Pacific Islander</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '4', enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '4', enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '4', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '4', enrolled: '1').count %></td>
		</tr>
		<tr>
			<td>Black or African American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '2', enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '2', enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '2', enrolled: '1').count %></td>
		</tr>
		<tr>
			<td>White</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '1', enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '1', enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '1', enrolled: '1').count %></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '6', enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '6', enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '6', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '6', enrolled: '1').count %></td>
		</tr>
		<tr>
			<td>Unknown</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: nil, enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: nil, enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: nil, enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: nil, enrolled: '1').count %></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', enrolled: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', enrolled: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', enrolled: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where( enrolled: '1').count %></td>
		</tr>
	</table>
</center>
</br>

<h2>Seattle</h2>
<center>
	<table border="3" cellpadding="4" cellspacing="3" width="100%">
		<tr>
			<td></td>
			<td colspan="3">Not Hispanic or Latino</td>
			<td colspan="3">Hispanic or Latino</td>
			<td colspan="3">Unknown/Reported</td>
			<td>Total</td>
		</tr>
		<tr>
			<td><strong>Racial Categories</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td></td>
		</tr>
		<tr>
			<td>American Indian</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '5', enrolled: '1', study_site: '1').count %></td>
		</tr>
		<tr>
			<td>Asian or Asian American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '3', enrolled: '1', study_site: '1').count %></td>
		</tr>
		<tr>
			<td>Native Hawaiian/Pacific Islander</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '4', enrolled: '1', study_site: '1').count %></td>
		</tr>
		<tr>
			<td>Black or African American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '2', enrolled: '1', study_site: '1').count %></td>
		</tr>
		<tr>
			<td>White</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '1', enrolled: '1', study_site: '1').count %></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '6', enrolled: '1', study_site: '1').count %></td>
		</tr>
		<tr>
			<td>Unknown</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: nil, enrolled: '1', study_site: '1').count %></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', enrolled: '1', study_site: '1').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', enrolled: '1', study_site: '1').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', enrolled: '1', study_site: '1').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where( enrolled: '1', study_site: '1').count %></td>
		</tr>
	</table>
</center>
</br>

<h2>Houston</h2>
<center>
	<table border="3" cellpadding="4" cellspacing="3" width="100%">
		<tr>
			<td></td>
			<td colspan="3">Not Hispanic or Latino</td>
			<td colspan="3">Hispanic or Latino</td>
			<td colspan="3">Unknown/Reported</td>
			<td>Total</td>
		</tr>
		<tr>
			<td><strong>Racial Categories</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td></td>
		</tr>
		<tr>
			<td>American Indian</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '5', enrolled: '1', study_site: '2').count %></td>
		</tr>
		<tr>
			<td>Asian or Asian American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '3', enrolled: '1', study_site: '2').count %></td>
		</tr>
		<tr>
			<td>Native Hawaiian/Pacific Islander</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '4', enrolled: '1', study_site: '2').count %></td>
		</tr>
		<tr>
			<td>Black or African American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '2', enrolled: '1', study_site: '2').count %></td>
		</tr>
		<tr>
			<td>White</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '1', enrolled: '1', study_site: '2').count %></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '6', enrolled: '1', study_site: '2').count %></td>
		</tr>
		<tr>
			<td>Unknown</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: nil, enrolled: '1', study_site: '2').count %></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', enrolled: '1', study_site: '2').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', enrolled: '1', study_site: '2').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', enrolled: '1', study_site: '2').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where( enrolled: '1', study_site: '2').count %></td>
		</tr>
	</table>
</center>
</br>

<h2>Cleveland</h2>
<center>
	<table border="3" cellpadding="4" cellspacing="3" width="100%">
		<tr>
			<td></td>
			<td colspan="3">Not Hispanic or Latino</td>
			<td colspan="3">Hispanic or Latino</td>
			<td colspan="3">Unknown/Reported</td>
			<td>Total</td>
		</tr>
		<tr>
			<td><strong>Racial Categories</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td></td>
		</tr>
		<tr>
			<td>American Indian</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '5', enrolled: '1', study_site: '3').count %></td>
		</tr>
		<tr>
			<td>Asian or Asian American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '3', enrolled: '1', study_site: '3').count %></td>
		</tr>
		<tr>
			<td>Native Hawaiian/Pacific Islander</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '4', enrolled: '1', study_site: '3').count %></td>
		</tr>
		<tr>
			<td>Black or African American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '2', enrolled: '1', study_site: '3').count %></td>
		</tr>
		<tr>
			<td>White</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '1', enrolled: '1', study_site: '3').count %></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '6', enrolled: '1', study_site: '3').count %></td>
		</tr>
		<tr>
			<td>Unknown</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: nil, enrolled: '1', study_site: '3').count %></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', enrolled: '1', study_site: '3').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', enrolled: '1', study_site: '3').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', enrolled: '1', study_site: '3').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where( enrolled: '1', study_site: '3').count %></td>
		</tr>
	</table>
</center>
</br>

<h2>Tampa</h2>
<center>
	<table border="3" cellpadding="4" cellspacing="3" width="100%">
		<tr>
			<td></td>
			<td colspan="3">Not Hispanic or Latino</td>
			<td colspan="3">Hispanic or Latino</td>
			<td colspan="3">Unknown/Reported</td>
			<td>Total</td>
		</tr>
		<tr>
			<td><strong>Racial Categories</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td></td>
		</tr>
		<tr>
			<td>American Indian</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '5', enrolled: '1', study_site: '4').count %></td>
		</tr>
		<tr>
			<td>Asian or Asian American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '3', enrolled: '1', study_site: '4').count %></td>
		</tr>
		<tr>
			<td>Native Hawaiian/Pacific Islander</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '4', enrolled: '1', study_site: '4').count %></td>
		</tr>
		<tr>
			<td>Black or African American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '2', enrolled: '1', study_site: '4').count %></td>
		</tr>
		<tr>
			<td>White</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '1', enrolled: '1', study_site: '4').count %></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '6', enrolled: '1', study_site: '4').count %></td>
		</tr>
		<tr>
			<td>Unknown</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: nil, enrolled: '1', study_site: '4').count %></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', enrolled: '1', study_site: '4').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', enrolled: '1', study_site: '4').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', enrolled: '1', study_site: '4').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where( enrolled: '1', study_site: '4').count %></td>
		</tr>
	</table>
</center>
</br>

<h2>Minneapolis</h2>
<center>
	<table border="3" cellpadding="4" cellspacing="3" width="100%">
		<tr>
			<td></td>
			<td colspan="3">Not Hispanic or Latino</td>
			<td colspan="3">Hispanic or Latino</td>
			<td colspan="3">Unknown/Reported</td>
			<td>Total</td>
		</tr>
		<tr>
			<td><strong>Racial Categories</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td><strong>Female</strong></td>
			<td><strong>Male</strong></td>
			<td><strong>Unknown</strong></td>
			<td></td>
		</tr>
		<tr>
			<td>American Indian</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '5', enrolled: '1', study_site: '5').count %></td>
		</tr>
		<tr>
			<td>Asian or Asian American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '3', enrolled: '1', study_site: '5').count %></td>
		</tr>
		<tr>
			<td>Native Hawaiian/Pacific Islander</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '4', enrolled: '1', study_site: '5').count %></td>
		</tr>
		<tr>
			<td>Black or African American</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '2', enrolled: '1', study_site: '5').count %></td>
		</tr>
		<tr>
			<td>White</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '1', enrolled: '1', study_site: '5').count %></td>
		</tr>
		<tr>
			<td>Other</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: '6', enrolled: '1', study_site: '5').count %></td>
		</tr>
		<tr>
			<td>Unknown</td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_4: nil, enrolled: '1', study_site: '5').count %></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '2', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '2', enrolled: '1', study_site: '5').count %></td>
		    <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '1', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '1', enrolled: '1', study_site: '5').count %></td>
	        <td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '2', sc_pd_3: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: '1', sc_pd_3: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where(sc_pd_2: nil, sc_pd_3: '3', enrolled: '1', study_site: '5').count %></td>
			<td><%= Subject.includes("sc_pd_4 enrolled").where( enrolled: '1', study_site: '5').count %></td>
		</tr>
	</table>
</center>
</br>