<h2>SPSI-R - Problem Solving</h2>
	<p><i>Below are some ways that you might think, feel, and act when faced with PROBLEMS in everyday living. We are not talking about the common hassles and pressures that you handle successfully every day. In this questionnaire, a problem is something important in your life that bothers you a lot but you don't immediately know how to make it better or stop it from bothering you so much. The problem could be something about yourself (such as your thoughts, feelings, behavior, appearance, or health), your relationships with other people (such as your family, friends, teachers, or boss), or your environment and the things that you own (such as your house, car, property, money). Please Read each statement carefully and choose one of the numbers below which shows how much the statement is true of you. See yourself as yo uusually think, feel and act when you are faced with important problems in your life these days. Put the number that you choose on the line before the statement.</i></p>
	<table>
		<tr>
			<th>Question</th>
			<th>Response</th>
		</tr>
		<tr>
			<td>1. I feel afraid when I have important problems.</td>
			<td><%= select(:followup6month, :fu6month_spsi_1,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>2. When making decisions, I do not carefully check all my options.</td>
			<td><%= select(:followup6month, :fu6month_spsi_2,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>3. I feel unsure of myself when making important decisions.</td>
			<td><%= select(:followup6month, :fu6month_spsi_3,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>4. When my first attempt to solve a problem fails, I believe if I don't give up, I will eventually succeed.</td>
			<td><%= select(:followup6month, :fu6month_spsi_4,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>5. I try to see my problems as challenges.</td>
			<td><%= select(:followup6month, :fu6month_spsi_5,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>6. I wait to see if a problem goes away before trying to solve it myself.</td>
			<td><%= select(:followup6month, :fu6month_spsi_6,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>7. When my first efforts to solve a problem fail, I get very frustrated.</td>
			<td><%= select(:followup6month, :fu6month_spsi_7,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>8. I doubt that I can solve difficult problems no matter how hard I try.</td>
			<td><%= select(:followup6month, :fu6month_spsi_8,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>9. I believe that my problems can be solved.</td>
			<td><%= select(:followup6month, :fu6month_spsi_9,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>10. I go out of my way to avoid dealing with problems.</td>
			<td><%= select(:followup6month, :fu6month_spsi_10,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>11. Difficult problems make me very upset.</td>
			<td><%= select(:followup6month, :fu6month_spsi_11,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>12. When making decisions, I try to predict the pros and cons of each option.</td>
			<td><%= select(:followup6month, :fu6month_spsi_12,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>13. I like to deal with problems as soon as possible.</td>
			<td><%= select(:followup6month, :fu6month_spsi_13,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>14. When solving problems, I go with the first good idea that comesto mind.</td>
			<td><%= select(:followup6month, :fu6month_spsi_14,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>15. I believe I can solve difficult problems on my own if I try hard enough.</td>
			<td><%= select(:followup6month, :fu6month_spsi_15,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>16. When I have a problem, I get as many facts about it as possible.</td>
			<td><%= select(:followup6month, :fu6month_spsi_16,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>17. I put off solving problems for as long as possible.</td>
			<td><%= select(:followup6month, :fu6month_spsi_17,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>18. I spend more time avoiding my problems than solving them.</td>
			<td><%= select(:followup6month, :fu6month_spsi_18,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>19. Before trying to solve a problem, I set a goal so that I know exactly where I am going.</td>
			<td><%= select(:followup6month, :fu6month_spsi_19,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>20. When making decisions, I do not take the time to think about the pros and cons of each option.</td>
			<td><%= select(:followup6month, :fu6month_spsi_20,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>21. After I carry out a solution, I check to see how much the problem has gotten better.</td>
			<td><%= select(:followup6month, :fu6month_spsi_21,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>22. I put off solving problems, I think of many different options.</td>
			<td><%= select(:followup6month, :fu6month_spsi_22,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>23. When solving problems, I think of many different options.</td>
			<td><%= select(:followup6month, :fu6month_spsi_23,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>24. When making decisions, I go with my "gut feeling" without thinking about what will happen.</td>
			<td><%= select(:followup6month, :fu6month_spsi_24,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
		<tr>
			<td>25. I am too quick to act when making decisions.</td>
			<td><%= select(:followup6month, :fu6month_spsi_25,
			[["",nil],
			["Not at all true of me",0],
			["Slightly true of me",1],
			["Moderately true of me",2],
			["Very true of me",3],
			["Extremely true of me",4],["Refused", 1000]]) %></td>
		</tr>
	</table>