<h1>6 Month Data Review</h1>

<div class="screening_log_table">
  <table id="screening_log" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
    
    	<tr>
    		<th>Subject ID</th>
    		<th colspan="47"><center>Short Musculoskeletal Function Assessment</center></th>
    		<th colspan="10"><center>Patient Health Questionnaire</center></th>
    		<th colspan="2"><center>WHOQOL - BREF</center></th>
    		<th colspan="21"><center>The Positive and Negative Affect Schedule</center></th>
    		<th colspan="9"><center>MSES Self-Efficacy</center></th>
    		<th colspan="13"><center>Patient Activation Measure</center></th>
    		<th colspan="25"><center>SPSI-R Problem Solving</center></th>
    		<th colspan="6"><center>Single Statement Stages of Change Questionnaire</center></th>
    		<th colspan="7"><center>Prosthesis Use</center></th>
    		<th colspan="7"><center>Chronic Pain Grade</center></th>
    		<th colspan="12"><center>Multidimensional Scale of Perceived Social Support</center></th>
    		<th colspan="6"><center>Audit-C Questionnaire</center></th>
            <th colspan="13"><center>Chart Review</center></th>
    	</tr>
        <tr>
            <th>fu6month_subject_id</th>
            <th>fu6month_status</th>
            <th>fu6month_administration_method</th>
            <th>fu6month_smfa_1 </th>
            <th>fu6month_smfa_2 </th>
            <th>fu6month_smfa_3 </th>
            <th>fu6month_smfa_4 </th>
            <th>fu6month_smfa_5 </th>
            <th>fu6month_smfa_6 </th>
            <th>fu6month_smfa_7 </th>
            <th>fu6month_smfa_8 </th>
            <th>fu6month_smfa_9 </th>
            <th>fu6month_smfa_10</th>
            <th>fu6month_smfa_11</th>
            <th>fu6month_smfa_12</th>
            <th>fu6month_smfa_13</th>
            <th>fu6month_smfa_14</th>
            <th>fu6month_smfa_15</th>
            <th>fu6month_smfa_16</th>
            <th>fu6month_smfa_17</th>
            <th>fu6month_smfa_18</th>
            <th>fu6month_smfa_19</th>
            <th>fu6month_smfa_20</th>
            <th>fu6month_smfa_21</th>
            <th>fu6month_smfa_22</th>
            <th>fu6month_smfa_23</th>
            <th>fu6month_smfa_24</th>
            <th>fu6month_smfa_25</th>
            <th>fu6month_smfa_26</th>
            <th>fu6month_smfa_27</th>
            <th>fu6month_smfa_28</th>
            <th>fu6month_smfa_29</th>
            <th>fu6month_smfa_30</th>
            <th>fu6month_smfa_31</th>
            <th>fu6month_smfa_32</th>
            <th>fu6month_smfa_33</th>
            <th>fu6month_smfa_34</th>
            <th>fu6month_smfa_35</th>
            <th>fu6month_smfa_36</th>
            <th>fu6month_smfa_37</th>
            <th>fu6month_smfa_38</th>
            <th>fu6month_smfa_39</th>
            <th>fu6month_smfa_40</th>
            <th>fu6month_smfa_41</th>
            <th>fu6month_smfa_42</th>
            <th>fu6month_smfa_43</th>
            <th>fu6month_smfa_44</th>
            <th>fu6month_smfa_45</th>
            <th>fu6month_smfa_46</th> 

            <th>fu6month_phq_1</th>
            <th>fu6month_phq_2</th>
            <th>fu6month_phq_3</th>
            <th>fu6month_phq_4</th>
            <th>fu6month_phq_5</th>
            <th>fu6month_phq_6</th>
            <th>fu6month_phq_7</th>
            <th>fu6month_phq_8</th>
            <th>fu6month_phq_9</th>
            <th>fu6month_phq_10</th>

            <th>fu6month_whoqol_1</th>
            <th>fu6month_whoqol_2</th>    

            <th>fu6month_panas_present_moment_or_last_week</th>
            <th>fu6month_panas_1</th>
            <th>fu6month_panas_2</th>
            <th>fu6month_panas_3</th>
            <th>fu6month_panas_4</th>
            <th>fu6month_panas_5</th>
            <th>fu6month_panas_6</th>
            <th>fu6month_panas_7</th>
            <th>fu6month_panas_8</th>
            <th>fu6month_panas_9</th>
            <th>fu6month_panas_10</th>
            <th>fu6month_panas_11</th>
            <th>fu6month_panas_12</th>
            <th>fu6month_panas_13</th>
            <th>fu6month_panas_14</th>
            <th>fu6month_panas_15</th>
            <th>fu6month_panas_16</th>
            <th>fu6month_panas_17</th>
            <th>fu6month_panas_18</th>
            <th>fu6month_panas_19</th>
            <th>fu6month_panas_20</th>    

            <th>fu6month_mses_1</th>
            <th>fu6month_mses_2</th>
            <th>fu6month_mses_3</th>
            <th>fu6month_mses_4</th>
            <th>fu6month_mses_5</th>
            <th>fu6month_mses_6</th>
            <th>fu6month_mses_7</th>
            <th>fu6month_mses_8</th>
            <th>fu6month_mses_9</th>

            <th>fu6month_pam_1</th>
            <th>fu6month_pam_2</th>
            <th>fu6month_pam_3</th>
            <th>fu6month_pam_4</th>
            <th>fu6month_pam_5</th>
            <th>fu6month_pam_6</th>
            <th>fu6month_pam_7</th>
            <th>fu6month_pam_8</th>
            <th>fu6month_pam_9</th>
            <th>fu6month_pam_10</th>
            <th>fu6month_pam_11</th>
            <th>fu6month_pam_12</th>
            <th>fu6month_pam_13</th>

            <th>fu6month_spsi_1</th>
            <th>fu6month_spsi_2</th>
            <th>fu6month_spsi_3</th>
            <th>fu6month_spsi_4</th>
            <th>fu6month_spsi_5</th>
            <th>fu6month_spsi_6</th>
            <th>fu6month_spsi_7</th>
            <th>fu6month_spsi_8</th>
            <th>fu6month_spsi_9</th>
            <th>fu6month_spsi_10</th>
            <th>fu6month_spsi_11</th>
            <th>fu6month_spsi_12</th>
            <th>fu6month_spsi_13</th>
            <th>fu6month_spsi_14</th>
            <th>fu6month_spsi_15</th>
            <th>fu6month_spsi_16</th>
            <th>fu6month_spsi_17</th>
            <th>fu6month_spsi_18</th>
            <th>fu6month_spsi_19</th>
            <th>fu6month_spsi_20</th>
            <th>fu6month_spsi_21</th>
            <th>fu6month_spsi_22</th>
            <th>fu6month_spsi_23</th>
            <th>fu6month_spsi_24</th>
            <th>fu6month_spsi_25</th>

            <th>fu6month_soc_1</th>
            <th>fu6month_soc_2</th>
            <th>fu6month_soc_3</th>
            <th>fu6month_soc_4</th>
            <th>fu6month_soc_5</th>
            <th>fu6month_soc_6</th>

            <th>fu6month_pu_1</th>
            <th>fu6month_amp_side</th>
            <th>fu6month_pu_2</th>
            <th>fu6month_pu_3</th>
            <th>fu6month_pu_2_bilateral_left</th>
            <th>fu6month_pu_3_bilateral_left</th>
            <th>fu6month_pu_4</th>

            <th>fu6month_cpg_1</th>
            <th>fu6month_cpg_2</th>
            <th>fu6month_cpg_3</th>
            <th>fu6month_cpg_4</th>
            <th>fu6month_cpg_5</th>
            <th>fu6month_cpg_6</th>
            <th>fu6month_cpg_7</th>

            <th>fu6month_mspss_1</th>
            <th>fu6month_mspss_2</th>
            <th>fu6month_mspss_3</th>
            <th>fu6month_mspss_4</th>
            <th>fu6month_mspss_5</th>
            <th>fu6month_mspss_6</th>
            <th>fu6month_mspss_7</th>
            <th>fu6month_mspss_8</th>
            <th>fu6month_mspss_9</th>
            <th>fu6month_mspss_10</th>
            <th>fu6month_mspss_11</th>
            <th>fu6month_mspss_12</th>

            <th>fu6month_audit_1</th>
            <th>fu6month_audit_2</th>
            <th>fu6month_audit_3</th>
            <th>fu6month_smoking_1</th>
            <th>fu6month_smoking_2</th>
            <th>fu6month_smoking_3</th>

            <th>fu6month_fuq_2</th>
            <th>fu6month_fuq_2a</th>
            <th>fu6month_fuq_3</th>
            <th>fu6month_fuq_3a</th>
            <th>fu6month_fuq_4</th>
            <th>fu6month_fuq_4a_level</th>
            <th>fu6month_fuq_4a_type</th>
            <th>fu6month_fuq_4b</th>
            <th>fu6month_fuq_5</th>
            <th>fu6month_fuq_5a</th>
            <th>fu6month_fuq_6</th>
            <th>fu6month_fuq_6a</th>
            <th>fu6month_fuq_7</th>
        </tr>
        <% FollowUp6Month.order('subject_id').each do |sub| %>
            <% if current_user.is? :admin %>
        <tr>
            <td><%= sub.subject_id %></td>
            <td><%= sub.fu6month_crf_status %></td>
            <td><%= sub.administration_method %></td>
            <td><%= sub.fu6month_smfa_1 %></td>
            <td><%= sub.fu6month_smfa_2 %></td>
            <td><%= sub.fu6month_smfa_3 %></td>
            <td><%= sub.fu6month_smfa_4 %></td>
            <td><%= sub.fu6month_smfa_5 %></td>
            <td><%= sub.fu6month_smfa_6 %></td>
            <td><%= sub.fu6month_smfa_7 %></td>
            <td><%= sub.fu6month_smfa_8 %></td>
            <td><%= sub.fu6month_smfa_9 %></td>
            <td><%= sub.fu6month_smfa_10 %></td>
            <td><%= sub.fu6month_smfa_11 %></td>
            <td><%= sub.fu6month_smfa_12 %></td>
            <td><%= sub.fu6month_smfa_13 %></td>
            <td><%= sub.fu6month_smfa_14 %></td>
            <td><%= sub.fu6month_smfa_15 %></td>
            <td><%= sub.fu6month_smfa_16 %></td>
            <td><%= sub.fu6month_smfa_17 %></td>
            <td><%= sub.fu6month_smfa_18 %></td>
            <td><%= sub.fu6month_smfa_19 %></td>
            <td><%= sub.fu6month_smfa_20 %></td>
            <td><%= sub.fu6month_smfa_21 %></td>
            <td><%= sub.fu6month_smfa_22 %></td>
            <td><%= sub.fu6month_smfa_23 %></td>
            <td><%= sub.fu6month_smfa_24 %></td>
            <td><%= sub.fu6month_smfa_25 %></td>
            <td><%= sub.fu6month_smfa_26 %></td>
            <td><%= sub.fu6month_smfa_27 %></td>
            <td><%= sub.fu6month_smfa_28 %></td>
            <td><%= sub.fu6month_smfa_29 %></td>
            <td><%= sub.fu6month_smfa_30 %></td>
            <td><%= sub.fu6month_smfa_31 %></td>
            <td><%= sub.fu6month_smfa_32 %></td>
            <td><%= sub.fu6month_smfa_33 %></td>
            <td><%= sub.fu6month_smfa_34 %></td>
            <td><%= sub.fu6month_smfa_35 %></td>
            <td><%= sub.fu6month_smfa_36 %></td>
            <td><%= sub.fu6month_smfa_37 %></td>
            <td><%= sub.fu6month_smfa_38 %></td>
            <td><%= sub.fu6month_smfa_39 %></td>
            <td><%= sub.fu6month_smfa_40 %></td>
            <td><%= sub.fu6month_smfa_41 %></td>
            <td><%= sub.fu6month_smfa_42 %></td>
            <td><%= sub.fu6month_smfa_43 %></td>
            <td><%= sub.fu6month_smfa_44 %></td>
            <td><%= sub.fu6month_smfa_45 %></td>
            <td><%= sub.fu6month_smfa_46 %></td>

            <td><%= sub.fu6month_phq_1 %></td>
            <td><%= sub.fu6month_phq_2 %></td>
            <td><%= sub.fu6month_phq_3 %></td>
            <td><%= sub.fu6month_phq_4 %></td>
            <td><%= sub.fu6month_phq_5 %></td>
            <td><%= sub.fu6month_phq_6 %></td>
            <td><%= sub.fu6month_phq_7 %></td>
            <td><%= sub.fu6month_phq_8 %></td>
            <td><%= sub.fu6month_phq_9 %></td>
            <td><%= sub.fu6month_phq_10 %></td>

            <td><%= sub.fu6month_whoqol_1 %></td>
            <td><%= sub.fu6month_whoqol_2 %></td>

            <td><%= sub.panas_present_moment_or_last_week %></td>
            <td><%= sub.fu6month_panas_1 %></td>
            <td><%= sub.fu6month_panas_2 %></td>
            <td><%= sub.fu6month_panas_3 %></td>
            <td><%= sub.fu6month_panas_4 %></td>
            <td><%= sub.fu6month_panas_5 %></td>
            <td><%= sub.fu6month_panas_6 %></td>
            <td><%= sub.fu6month_panas_7 %></td>
            <td><%= sub.fu6month_panas_8 %></td>
            <td><%= sub.fu6month_panas_9 %></td>
            <td><%= sub.fu6month_panas_10 %></td>
            <td><%= sub.fu6month_panas_11 %></td>
            <td><%= sub.fu6month_panas_12 %></td>
            <td><%= sub.fu6month_panas_13 %></td>
            <td><%= sub.fu6month_panas_14 %></td>
            <td><%= sub.fu6month_panas_15 %></td>
            <td><%= sub.fu6month_panas_16 %></td>
            <td><%= sub.fu6month_panas_17 %></td>
            <td><%= sub.fu6month_panas_18 %></td>
            <td><%= sub.fu6month_panas_19 %></td>
            <td><%= sub.fu6month_panas_20 %></td>

            <td><%= sub.fu6month_mses_1 %></td>
            <td><%= sub.fu6month_mses_2 %></td>
            <td><%= sub.fu6month_mses_3 %></td>
            <td><%= sub.fu6month_mses_4 %></td>
            <td><%= sub.fu6month_mses_5 %></td>
            <td><%= sub.fu6month_mses_6 %></td>
            <td><%= sub.fu6month_mses_7 %></td>
            <td><%= sub.fu6month_mses_8 %></td>
            <td><%= sub.fu6month_mses_9 %></td>

            <td><%= sub.fu6month_pam_1 %></td>
            <td><%= sub.fu6month_pam_2 %></td>
            <td><%= sub.fu6month_pam_3 %></td>
            <td><%= sub.fu6month_pam_4 %></td>
            <td><%= sub.fu6month_pam_5 %></td>
            <td><%= sub.fu6month_pam_6 %></td>
            <td><%= sub.fu6month_pam_7 %></td>
            <td><%= sub.fu6month_pam_8 %></td>
            <td><%= sub.fu6month_pam_9 %></td>
            <td><%= sub.fu6month_pam_10 %></td>
            <td><%= sub.fu6month_pam_11 %></td>
            <td><%= sub.fu6month_pam_12 %></td>
            <td><%= sub.fu6month_pam_13 %></td>

            <td><%= sub.fu6month_spsi_1 %></td>
            <td><%= sub.fu6month_spsi_2 %></td>
            <td><%= sub.fu6month_spsi_3 %></td>
            <td><%= sub.fu6month_spsi_4 %></td>
            <td><%= sub.fu6month_spsi_5 %></td>
            <td><%= sub.fu6month_spsi_6 %></td>
            <td><%= sub.fu6month_spsi_7 %></td>
            <td><%= sub.fu6month_spsi_8 %></td>
            <td><%= sub.fu6month_spsi_9 %></td>
            <td><%= sub.fu6month_spsi_10 %></td>
            <td><%= sub.fu6month_spsi_11 %></td>
            <td><%= sub.fu6month_spsi_12 %></td>
            <td><%= sub.fu6month_spsi_13 %></td>
            <td><%= sub.fu6month_spsi_14 %></td>
            <td><%= sub.fu6month_spsi_15 %></td>
            <td><%= sub.fu6month_spsi_16 %></td>
            <td><%= sub.fu6month_spsi_17 %></td>
            <td><%= sub.fu6month_spsi_18 %></td>
            <td><%= sub.fu6month_spsi_19 %></td>
            <td><%= sub.fu6month_spsi_20 %></td>
            <td><%= sub.fu6month_spsi_21 %></td>
            <td><%= sub.fu6month_spsi_22 %></td>
            <td><%= sub.fu6month_spsi_23 %></td>
            <td><%= sub.fu6month_spsi_24 %></td>
            <td><%= sub.fu6month_spsi_25 %></td>

            <td><%= sub.fu6month_soc_1 %></td>
            <td><%= sub.fu6month_soc_2 %></td>
            <td><%= sub.fu6month_soc_3 %></td>
            <td><%= sub.fu6month_soc_4 %></td>
            <td><%= sub.fu6month_soc_5 %></td>
            <td><%= sub.fu6month_soc_6 %></td>

            <td><%= sub.fu6month_pu_1 %></td>
            <td><%= sub.fu6month_amp_side %></td>
            <td><%= sub.fu6month_pu_2 %></td>
            <td><%= sub.fu6month_pu_3 %></td>
            <td><%= sub.fu6month_pu_2_bilateral_left %></td>
            <td><%= sub.fu6month_pu_3_bilateral_left %></td>
            <td><%= sub.fu6month_pu_4 %></td>

            <td><%= sub.fu6month_cpg_1 %></td>
            <td><%= sub.fu6month_cpg_2 %></td>
            <td><%= sub.fu6month_cpg_3 %></td>
            <td><%= sub.fu6month_cpg_4 %></td>
            <td><%= sub.fu6month_cpg_5 %></td>
            <td><%= sub.fu6month_cpg_6 %></td>
            <td><%= sub.fu6month_cpg_7 %></td>

            <td><%= sub.fu6month_mspss_1 %></td>
            <td><%= sub.fu6month_mspss_2 %></td>
            <td><%= sub.fu6month_mspss_3 %></td>
            <td><%= sub.fu6month_mspss_4 %></td>
            <td><%= sub.fu6month_mspss_5 %></td>
            <td><%= sub.fu6month_mspss_6 %></td>
            <td><%= sub.fu6month_mspss_7 %></td>
            <td><%= sub.fu6month_mspss_8 %></td>
            <td><%= sub.fu6month_mspss_9 %></td>
            <td><%= sub.fu6month_mspss_10 %></td>
            <td><%= sub.fu6month_mspss_11 %></td>
            <td><%= sub.fu6month_mspss_12 %></td>
            
            <td><%= sub.fu6month_audit_1 %></td>
            <td><%= sub.fu6month_audit_2 %></td>
            <td><%= sub.fu6month_audit_3 %></td>
            <td><%= sub.fu6month_smoking_1 %></td>
            <td><%= sub.fu6month_smoking_2 %></td>
            <td><%= sub.fu6month_smoking_3 %></td>

            <td><%= sub.fu6month_fuq_2 %></td>
            <td><%= sub.fu6month_fuq_2a %></td>
            <td><%= sub.fu6month_fuq_3 %></td>
            <td><%= sub.fu6month_fuq_3a %></td>
            <td><%= sub.fu6month_fuq_4 %></td>
            <td><%= sub.fu6month_fuq_4a_level %></td>
            <td><%= sub.fu6month_fuq_4a_type %></td>
            <td><%= sub.fu6month_fuq_4b %></td>
            <td><%= sub.fu6month_fuq_5 %></td>
            <td><%= sub.fu6month_fuq_5a %></td>
            <td><%= sub.fu6month_fuq_6 %></td>
            <td><%= sub.fu6month_fuq_6a %></td>
            <td><%= sub.fu6month_fuq_7 %></td>
        <% end %>
        <% end %>   
        </tr>

    </table>
</div>