<% provide(:title, '6 Month') %>

<div class="row">
	<div class="span6 offset3">
		<div style="width:1100px; margin:auto;">
			<div style="width:900px; float:right;">
				<h1>6 Month Follow Up</h1>
				<h2>Subject ID: <%= @followup6month.subject_id %></h2>
				<!-- http://railscasts.com/episodes/217-multistep-forms -->	
				<%= form_for @followup6month, html: {"data-parsley-validate" => ''} do |f| %>
					<div id="crf_status">
						<p><i><strong>Please mark participant status</strong>. Please mark appropriately (for example, don't mark "Participant completed assessment" until you have finished the assessment).</i></p>
						<%= select(:followup6month, :fu6month_crf_status,
							[["",nil],
							["Participant completed assessment", 1],
							["Participant missed assessment but still enrolled", 2],
							["Participant formally withdrew", 3],
							["Participant lost to follow-up (unknown reason)", 4],
							["Participant did not begin intervention after randomization", 5],
							["Participant died", 6],
							["Failure to Launch", 7],
							["CRF in Progress", 8]], {}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</div>
					<%= render "fu6month_#{@followup6month.current_step}", :f => f %>
				
					</br>
					<!-- Bottom Navigation Buttons -->
					<div style="width:150px; float:left;">
						<%= f.submit "Back", class: "btn btn-large btn-primary", :name => 'back_button' unless @followup6month.first_step? %>
					</div>
					
					<div style="width:150px; float:right;">	
						<%= f.submit "Continue", class: "btn btn-large btn-primary", :name => 'next_button' unless @followup6month.last_step? %>
					</div>
					<div style="width:200px; margin:auto;">
						<%= f.submit "Quit & Submit Changes", class: "btn btn-large btn-primary", :name => 'submit_button' %>
					</div>
			</div>
					<!-- Side Bar Navigation Buttons -->
					<div style="width:150px; float:left;">
						<br/><br/><br/><br/><br/><br/><br/>
						<center><b>Quick Navigation</b></center>
						<%= f.submit "SMFA", class: "btn btn-large btn-primary", :name => 'smfa_link' %>
						<%= f.submit "PHQ", class: "btn btn-large btn-primary", :name => 'phq_link' %>
						<%= f.submit "WHOQOL Bref", class: "btn btn-large btn-primary", :name => 'whoqol_bref_link' %>
						<%= f.submit "Positive Negative", class: "btn btn-large btn-primary", :name => 'positive_negative_link' %>
						<%= f.submit "MSES Self", class: "btn btn-large btn-primary", :name => 'mses_self_link' %>
						<%= f.submit "PAM", class: "btn btn-large btn-primary", :name => 'pam_link' %>
						<%= f.submit "SPSIR", class: "btn btn-large btn-primary", :name => 'spsir_link' %>
						<%= f.submit "SSSCQ", class: "btn btn-large btn-primary", :name => 'ssscq_link' %>
						<%= f.submit "Prosthesis", class: "btn btn-large btn-primary", :name => 'prosthesis_link' %>
						<%= f.submit "Pain", class: "btn btn-large btn-primary", :name => 'pain_link' %>
						<%= f.submit "MSPSS", class: "btn btn-large btn-primary", :name => 'mspss_link' %>
						<%= f.submit "Audit", class: "btn btn-large btn-primary", :name => 'audit_link' %>
						<%= f.submit "Medical Review", class: "btn btn-large btn-primary", :name => 'medical_review_link' %>
					</div>	
		</div>
					<% end %>
	</div>
</div>
