<% provide(:title, 'Psychosocial Scale') %>

<div class="row">
	<div class="span6 offset3">
		<h1>1 Year Chart Review</h1>
		<h2>Subject ID: <%= @psychosocial_scale.subject_id %></h2>
		<!-- http://railscasts.com/episodes/217-multistep-forms -->
		<%= form_for @psychosocial_scale, html: {"data-parsley-validate" => ''} do |f| %>
			<h2>Psychosocial Treatment Compliance Scale</h2>
			<p><i>The degree of psychosocial treatment compliance for people with mental illness is examined by the mental health care professionals, such as occupational therapists, social workers and nurses, etc. The term ‘therapists’ stated below refers to all these rofessionals. Scoring on level of compliance is based on clients’ overall performances in various psychosocial treatments, including family intervention, social skills training, vocational rehabilitation and cognitive behavioural therapy, etc., for the past THREE months.</i></p>
			<center>
				<table style="width:500px;">
					<tr>
						<th><center>1</center></th>
						<th><center>2</center></th>
						<th><center>3</center></th>
						<th><center>4</center></th>
						<th><center>5</center></th>
						<th><center>6</center></th>
					</tr>
					<tr>
						<td><center>Never</center></td>
						<td><center>Infrequently</center></td>
						<td><center>Sometimes</center></td>
						<td><center>Frequently</center></td>
						<td><center>Always</center></td>
						<td><center>Refused</center></td>
					</tr>
				</table>
			</center>

			<table>
				<tr>
					<th>Question</th>
					<th>Response</th>
				</tr>
				<tr>
					<td>Attended prescribed psychosocial treatment</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_1, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Attended prescribed psychosocial treatment on time</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_2, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was self-motivated in joining the psychosocial treatment program</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_3, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to follow therapists’ instructions</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_4, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to follow family’s/friends’ advice in attending psychosocial treatment</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_5, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Actively participated in prescribed psychosocial treatment</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_6, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was attentive in attending psychosocial treatment</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_7, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to communicate with therapists. E.g. Initiative in asking or answering questions</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_8, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to communicate with other participants</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_9, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to provide help to other participants when needed</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_10, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was able to remember the contents/skills taught in psychosocial treatment</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_11, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to complete homework assignment</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_12, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to review topics discussed in previous psychosocial treatment sessions</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_13, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to try new psychosocial treatment prescribed</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_14, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Continued to participate in all psychosocial treatment and avoided premature treatment termination</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_15, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was willing to seek advice to improve performance</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_16, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>
				<tr>
					<td>Was able to control emotion when facing uncertainty in psychosocial treatment</td>
					<td>
						<%= select(:psychosocial_scale, :psy_scale_ptcs_17, 
						[["",nil],
						["1 - Never",1],
						["2 - Infrequently",2],
						["3 - Sometimes",3],
						["4 - Frequently",4],
						["5 - Always",5],
						["6 - Refused", 1000]],{}, :style => "width:auto", :data => {:"parsley-trigger" => 'change'}, :required => '') %>
					</td>
				</tr>

			</table>
			<div style="width:200px; margin:auto;">
				<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
